=t('email.greeting', name: Setting['channel.monitoring_name'])
| \
=t('books.sync.failed.metadata_missing.email.body')
| \
="ISBN: #{ @isbn }"
="Author: #{ @author }"
="Title: #{ @title }"
="Published date: #{ @published_date }"
| \
="http://#{ Constant.host }/admin/book/#{ @id }/edit"
| \
="http://www.amazon.com/s/?field-keywords=#{ @isbn }"
| \
="http://www.worldcat.org/search?qt=worldcat_org_bks&q=#{ @isbn }"
| \
=t('email.signature')
=@host
