p = t('email.greeting', name: NB.admin_name)
p = t("notes.sync.#{ @error }.email.body", provider: @provider, guid: @guid, title: @title, username: @username)
p = "#{ NB.evernote_server }/Home.action#st=p&n=#{ @guid }"
p = @error
p = t('email.signature')
p = @host
