=t('email.greeting', name: Settings.channel.monitoring_name)
| \
=t("notes.sync.#{ @error }.email.body", provider: @provider, guid: @guid, title: @title, username: @username)
| \
#{ Settings.evernote_server }/Home.action#st=p&n=#{ @guid }
| \
=@error
| \
=t('email.signature')
=@host
