=t('email.greeting', name: Setting['channel.monitoring_name'])
| \
=t("notes.sync.#{ @error }.email.body", provider: @provider, guid: @guid, title: @title, username: @username)
| \
#{ Constant.evernote_server }/Home.action#st=p&n=#{ @guid }
| \
=@error
| \
=t('email.signature')
=@host
