%nav.tags

  %header
    %h6= link_to 'Tags', tags_path

  %ul
    = list_of @tags do |tag|
      = link_to_unless_current tag.name, tag_path(tag.slug)
      
  -# Need to link only if tags still have latest versions attache dto them
