%ul.citations
  = list_of citations do |citation|

    - citation_text, attribution = citation_blurb(citation.clean_body)

    = link_to (render citation_partial('blockquote_with_attribution'), citation_text: citation_text, attribution: attribution), citation_path(citation),
        :lang => lang_attr(citation.lang),
        :dir => dir_attr(citation.lang)
