%section.citations

  %header
    %h6=t('citations.index.title')

  %ul
    = list_of citations do |citation|

      - citation_text, attribution = citation_blurb(citation.clean_body_with_parentheses)

      -#= link_to (render citation_partial('blockquote_with_attribution'), citation_text: citation_text, attribution: attribution), citation_path(citation),
      -#    :lang => lang_attr(citation.lang),
      -#    :dir => dir_attr(citation.lang)

      %a{ href: citation_path(citation), lang: lang_attr(citation.lang), dir: dir_attr(citation.lang) }
        %figure.citation
          %blockquote= blurbify(citation_text, citation.books, citation.links)
          %figcaption= blurbify(attribution, citation.books, citation.links)
