Gemfile.lock                merge=ours
README.md                   merge=ours
*constants.yml              merge=ours
*custom*                    merge=ours
*icon*                      merge=ours
*themes*                    merge=ours
*vcr_cassettes*             merge=ours
copyright.*.yml             merge=ours

appcontrollers              merge=ours
app/helpers/page_helper.rb  merge=ours
app/models/ability.rb       merge=ours
config/routes.rb            merge=ours
models/evernote_note.rb     merge=ours
