=home-one-column-list
  .home-index
    .notes
      +span-columns(12)
      padding-right: 0
      ul
        +columns(1)

  // Screen > 720px ////////////////////////////////////////////////////////////////////////////////////////////////////

  @media only screen and (min-width: 720px)
    .home-index
      .notes
        +span-columns(8)

=logo($color: inherit)
  &:before
    +border-bottom-right-radius(0.2em)
    +border-top-right-radius(0.2em)
    +box-sizing(border-box)
    border:
      color: $color
      style: solid
      width: 0.15em
    color: $color
    content: 'nb'
    display: inline-block
    font:
      family: 'proxima-nova', arial, sans-serif
      size: 0.7em
      style: normal
      variant: small-caps
      weight: 800
    letter-spacing: 0.025em
    line-height: 0.56em
    margin-right: 0.3em
    padding: 0.08em 0.08em 0.14em 0.08em
    text-transform: lowercase
    vertical-align: 0.15em
    width: auto

=brand($color: inherit)
  +logo($color)
  color: $color
  font:
    style: normal
    variant: small-caps
    weight: 800
  text-transform: lowercase

=image-gradient($top-color: #000, $top-opacity: 0, $bottom-color: #000, $bottom-opacity: 0.7)
  #main
    &> article
      section#content
        figure.image
          figcaption
            +background-image(linear-gradient(rgba($top-color, $top-opacity), rgba($bottom-color, $bottom-opacity)))

=use-background-image($bottom-height: 0, $position: absolute)
  // We may want to use a wrapper for the image and put the background on it, to allow more flexibility
  //  with positioning the caption
  figure.image
    background-size: cover
    @if $position == absolute
      background-attachment: scroll
    @else
      background-attachment: fixed
    background-repeat: no-repeat
    background-position: center center
    bottom: 0
    height: calc(100% - #{$bottom-height})
    left: 0
    margin: 0
    padding: 0
    position: $position
    right: 0
    top: 0
    width: 100%
    img
      bottom: 0
      height: auto
      left: 0
      margin: auto 
      min-height: 100%
      min-width: 100%
      position: absolute 
      right: 0
      top: 0
      visibility: hidden
      width: auto

=curtain($bottom-height: 0, $position: absolute)
  body
    padding-top: 0

  #curtain_shim
    height: calc(100% - #{$bottom-height})
  #main
    background-color: transparent
    height: 100%
    &> article, &> section
      height: 100%
      &> header
        margin: 0
      section#content
        +use-background-image($bottom-height, $position)
        figure.image
          position: $position 
          z-index: -1
          figcaption
            bottom: 0
            height: auto
            left: 0
            position: absolute
            top: 0
            width: 100%
        .gallery
          bottom: 0
          height: calc(100% - #{$bottom-height})
          left: 0
          margin: 0
          padding: 0
          position: $position
          right: 0
          top: 0
          width: 100%
          ul
            height: 100%
            li
              height: 100%
              figure.image
                height: 100%
