=simple-blurb($lines: 4)
  margin-bottom: $line-height
  h2
    display: block
    font:
      size: $body-font-size
      weight: normal
  a
    display: block
    height: $line-height * $lines
    overflow: hidden
    // text-overflow: ellipsis
    // white-space: nowrap
    &:after
      display: none
    img, iframe
      display: none

=simple-blurbs
  .infowindow
    +simple-blurb

  .notes
    li
      +simple-blurb

  // Screen > 720px /////////////////////////////////////////////////////////////////////////////////////////////////////

  @media only screen and (min-width: 720px)

    .notes
      li
        +simple-blurb

  // Screen > 1024px ////////////////////////////////////////////////////////////////////////////////////////////////////

  @media only screen and (min-width: 1024px)

    .notes
      li
        +simple-blurb

    .home-index
      .notes
        ul
          li
            +simple-blurb
