---
http_interactions:
- request:
    method: post
    uri: http://ws.detectlanguage.com/0.2/detect
    body:
      encoding: US-ASCII
      string: q=Fixed+note+title+accusantium+2012&key=<DETECT_LANGUAGE_API_KEY>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"data":{"detections":[{"language":"en","isReliable":true,"confidence":0.2025931928687196}]}}'
  recorded_at: Thu, 11 Jul 2013 12:54:52 GMT
[...]
- request:
    method: post
    uri: http://ws.detectlanguage.com/0.2/detect
    body:
      encoding: US-ASCII
      string: q=Newer+Title+Fixed+note+content+used+to+prevent+multiple+calls+to+VCR.&key=<DETECT_LANGUAGE_API_KEY>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"data":{"detections":[{"language":"en","isReliable":true,"confidence":0.5753646677471637}]}}'
  recorded_at: Thu, 11 Jul 2013 12:54:58 GMT
recorded_with: VCR 2.5.0
