---
http_interactions:
- request:
    method: post
    uri: http://ws.detectlanguage.com/0.2/detect
    body:
      encoding: US-ASCII
      string: q=Fixed+note+title+Fixed+note+content+used+to+prevent+multiple+calls+to+VCR.&key=<DETECT_LANGUAGE_KEY>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"data":{"detections":[{"language":"en","isReliable":true,"confidence":12.59}]}}'
  recorded_at: Wed, 11 Dec 2013 13:02:34 GMT
recorded_with: VCR 2.8.0
