---
http_interactions:
- request:
    method: post
    uri: http://ws.detectlanguage.com/0.2/detect
    body:
      encoding: US-ASCII
      string: q=Fixed+note+title+Text.+--+%2C+p.+1&key=<DETECT_LANGUAGE_API_KEY>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"data":{"detections":[{"language":"en","isReliable":false,"confidence":0.17017828200972449},{"language":"xxx","isReliable":false,"confidence":0.2}]}}'
  recorded_at: Thu, 08 Aug 2013 15:51:21 GMT
[...]
- request:
    method: post
    uri: http://ws.detectlanguage.com/0.2/detect
    body:
      encoding: US-ASCII
      string: q=Fixed+note+title+Fixed+note+content+used+to+prevent+multiple+calls+to+VCR.&key=<DETECT_LANGUAGE_KEY>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"data":{"detections":[{"language":"en","isReliable":true,"confidence":12.59}]}}'
  recorded_at: Thu, 05 Dec 2013 19:16:09 GMT
- request:
    method: get
    uri: http://127.0.0.1:34725/__identify__
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 'OK '
    headers:
    body:
      encoding: UTF-8
      string: '72381980'
  recorded_at: Sun, 08 Dec 2013 14:32:16 GMT
- request:
    method: post
    uri: http://127.0.0.1:7055/hub/session
    body:
      encoding: UTF-8
      string: '{"desiredCapabilities":{"browserName":"firefox","version":"","platform":"ANY","javascriptEnabled":true,"cssSelectorsEnabled":true,"takesScreenshot":true,"nativeEvents":false,"rotatable":false}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"name":"newSession","sessionId":"c8676563-76b6-4694-8161-d4619d96a610","status":0,"value":{"cssSelectorsEnabled":true,"browserName":"firefox","handlesAlerts":true,"javascriptEnabled":true,"nativeEvents":false,"platform":"Linux","rotatable":false,"takesScreenshot":true,"version":"25.0.1","webStorageEnabled":true,"applicationCacheEnabled":true,"databaseEnabled":true,"locationContextEnabled":true,"browserConnectionEnabled":true,"acceptSslCerts":true}}'
  recorded_at: Sun, 08 Dec 2013 14:32:21 GMT
- request:
    method: post
    uri: http://127.0.0.1:7055/hub/session/c8676563-76b6-4694-8161-d4619d96a610/url
    body:
      encoding: UTF-8
      string: '{"url":"http://127.0.0.1:34725/users/sign_in"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"name":"get","sessionId":"c8676563-76b6-4694-8161-d4619d96a610","status":0,"value":""}'
  recorded_at: Sun, 08 Dec 2013 14:32:49 GMT
- request:
    method: post
    uri: http://127.0.0.1:7055/hub/session/c8676563-76b6-4694-8161-d4619d96a610/elements
    body:
      encoding: UTF-8
      string: '{"using":"xpath","value":".//*[self::input | self::textarea][not(./@type
        = ''submit'' or ./@type = ''image'' or ./@type = ''radio'' or ./@type = ''checkbox''
        or ./@type = ''hidden'' or ./@type = ''file'')][(((./@id = ''Email'' or ./@name
        = ''Email'') or ./@placeholder = ''Email'') or ./@id = //label[normalize-space(string(.))
        = ''Email'']/@for)] | .//label[normalize-space(string(.)) = ''Email'']//.//*[self::input
        | self::textarea][not(./@type = ''submit'' or ./@type = ''image'' or ./@type
        = ''radio'' or ./@type = ''checkbox'' or ./@type = ''hidden'' or ./@type =
        ''file'')]"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"name":"findElements","sessionId":"c8676563-76b6-4694-8161-d4619d96a610","status":0,"value":[{"ELEMENT":"{c1a12888-438b-4715-911c-af622260a5b2}"}]}'
  recorded_at: Sun, 08 Dec 2013 14:32:49 GMT
- request:
    method: get
    uri: http://127.0.0.1:7055/hub/session/c8676563-76b6-4694-8161-d4619d96a610/element/%7Bc1a12888-438b-4715-911c-af622260a5b2%7D/displayed
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"name":"isElementDisplayed","sessionId":"c8676563-76b6-4694-8161-d4619d96a610","status":0,"value":true}'
  recorded_at: Sun, 08 Dec 2013 14:32:49 GMT
- request:
    method: get
    uri: http://127.0.0.1:7055/hub/session/c8676563-76b6-4694-8161-d4619d96a610/element/%7Bc1a12888-438b-4715-911c-af622260a5b2%7D/enabled
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"name":"isElementEnabled","sessionId":"c8676563-76b6-4694-8161-d4619d96a610","status":0,"value":true}'
  recorded_at: Sun, 08 Dec 2013 14:32:49 GMT
- request:
    method: get
    uri: http://127.0.0.1:7055/hub/session/c8676563-76b6-4694-8161-d4619d96a610/element/%7Bc1a12888-438b-4715-911c-af622260a5b2%7D/name
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"name":"getElementTagName","sessionId":"c8676563-76b6-4694-8161-d4619d96a610","status":0,"value":"input"}'
  recorded_at: Sun, 08 Dec 2013 14:32:49 GMT
- request:
    method: get
    uri: http://127.0.0.1:7055/hub/session/c8676563-76b6-4694-8161-d4619d96a610/element/%7Bc1a12888-438b-4715-911c-af622260a5b2%7D/attribute/type
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"name":"getElementAttribute","sessionId":"c8676563-76b6-4694-8161-d4619d96a610","status":0,"value":"email"}'
  recorded_at: Sun, 08 Dec 2013 14:32:49 GMT
- request:
    method: get
    uri: http://127.0.0.1:7055/hub/session/c8676563-76b6-4694-8161-d4619d96a610/element/%7Bc1a12888-438b-4715-911c-af622260a5b2%7D/attribute/readonly
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"name":"getElementAttribute","sessionId":"c8676563-76b6-4694-8161-d4619d96a610","status":0,"value":null}'
  recorded_at: Sun, 08 Dec 2013 14:32:49 GMT
- request:
    method: post
    uri: http://127.0.0.1:7055/hub/session/c8676563-76b6-4694-8161-d4619d96a610/execute
    body:
      encoding: UTF-8
      string: '{"script":"arguments[0].value = ''''","args":[{"ELEMENT":"{c1a12888-438b-4715-911c-af622260a5b2}"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"name":"executeScript","sessionId":"c8676563-76b6-4694-8161-d4619d96a610","status":0,"value":null}'
  recorded_at: Sun, 08 Dec 2013 14:32:49 GMT
- request:
    method: post
    uri: http://127.0.0.1:7055/hub/session/c8676563-76b6-4694-8161-d4619d96a610/element/%7Bc1a12888-438b-4715-911c-af622260a5b2%7D/value
    body:
      encoding: UTF-8
      string: '{"value":["audie_effertz@heathcote.name"]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"name":"sendKeysToElement","sessionId":"c8676563-76b6-4694-8161-d4619d96a610","status":0,"value":""}'
  recorded_at: Sun, 08 Dec 2013 14:32:49 GMT
[...]
- request:
    method: post
    uri: http://127.0.0.1:7055/hub/session/c8676563-76b6-4694-8161-d4619d96a610/element/%7Bba91a45c-2a00-4af0-b1b8-7c90c54b81fc%7D/click
    body:
      encoding: UTF-8
      string: '{}'
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"name":"clickElement","sessionId":"c8676563-76b6-4694-8161-d4619d96a610","status":0,"value":"ok"}'
  recorded_at: Sun, 08 Dec 2013 14:32:50 GMT
[...]
- request:
    method: get
    uri: http://127.0.0.1:7055/hub/session/c8676563-76b6-4694-8161-d4619d96a610/element/%7B69252faf-28d5-4ceb-9ce2-80f99f612c52%7D/text
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"name":"getElementText","sessionId":"c8676563-76b6-4694-8161-d4619d96a610","status":0,"value":"home\nsign
        in\nSign in\nEmail\nPassword\nRemember me\nsign in with facebook\nsign in
        with twitter\nsign in with linkedin\nsign in with github\nsign in with gplus\nforgot
        your password?\nsign up\nSign in\nhome\nnotes\ncitations\nbibliography\nlinks\ntags\nfacebook\ntwitter\ngithub\ngoogle+\nyoutube\nvimeo\nsoundcloud\nspotify\natom
        feed\njoe@nembrot.org\nExcept as otherwise stated, all content on this site
        is by Joe Gatt and licensed under a Creative Commons Attribution-Noncommercial-Share
        Alike 3.0 Unported licence."}'
  recorded_at: Sun, 08 Dec 2013 14:32:51 GMT
[...]
- request:
    method: delete
    uri: http://127.0.0.1:7055/hub/session/c8676563-76b6-4694-8161-d4619d96a610/cookie
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"name":"deleteAllCookies","sessionId":"c8676563-76b6-4694-8161-d4619d96a610","status":0,"value":""}'
  recorded_at: Sun, 08 Dec 2013 14:32:53 GMT
[...]
- request:
    method: post
    uri: http://127.0.0.1:7055/hub/session/c8676563-76b6-4694-8161-d4619d96a610/element/%7Bc1a12888-438b-4715-911c-af622260a5b2%7D/value
    body:
      encoding: UTF-8
      string: '{"value":["karlee@lebsack.name"]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"name":"sendKeysToElement","sessionId":"c8676563-76b6-4694-8161-d4619d96a610","status":10,"value":{"message":"Element
        not found in the cache - perhaps the page has changed since it was looked
        up","stackTrace":[{"methodName":"fxdriver.cache.getElementAt","fileName":"resource://fxdriver/modules/web_element_cache.js","lineNumber":7584},{"methodName":"Utils.getElementAt","fileName":"file:///tmp/webdriver-profile20131208-21603-vb12g3/extensions/fxdriver@googlecode.com/components/command_processor.js","lineNumber":7197},{"methodName":"fxdriver.preconditions.visible","fileName":"file:///tmp/webdriver-profile20131208-21603-vb12g3/extensions/fxdriver@googlecode.com/components/command_processor.js","lineNumber":8177},{"methodName":"DelayedCommand.prototype.checkPreconditions_","fileName":"file:///tmp/webdriver-profile20131208-21603-vb12g3/extensions/fxdriver@googlecode.com/components/command_processor.js","lineNumber":10814},{"methodName":"DelayedCommand.prototype.executeInternal_/h","fileName":"file:///tmp/webdriver-profile20131208-21603-vb12g3/extensions/fxdriver@googlecode.com/components/command_processor.js","lineNumber":10831},{"methodName":"DelayedCommand.prototype.executeInternal_","fileName":"file:///tmp/webdriver-profile20131208-21603-vb12g3/extensions/fxdriver@googlecode.com/components/command_processor.js","lineNumber":10836},{"methodName":"DelayedCommand.prototype.execute/<","fileName":"file:///tmp/webdriver-profile20131208-21603-vb12g3/extensions/fxdriver@googlecode.com/components/command_processor.js","lineNumber":10778}]}}'
  recorded_at: Sun, 08 Dec 2013 14:32:54 GMT
[...]
- request:
    method: get
    uri: http://127.0.0.1:41516/__identify__
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 'OK '
    headers:
    body:
      encoding: UTF-8
      string: '71708320'
  recorded_at: Sun, 08 Dec 2013 16:28:18 GMT
recorded_with: VCR 2.8.0
