---
http_interactions:
- request:
    method: post
    uri: http://ws.detectlanguage.com/0.2/detect
    body:
      encoding: US-ASCII
      string: q=Fixed+note+title+Text.+--+%2C+p.+1&key=<DETECT_LANGUAGE_API_KEY>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"data":{"detections":[{"language":"en","isReliable":false,"confidence":0.17017828200972449},{"language":"xxx","isReliable":false,"confidence":0.2}]}}'
  recorded_at: Thu, 08 Aug 2013 15:51:21 GMT
[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/users/show.json?user_id=394339242
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="LcP5KZsVECxlI7Z7aWz86g", oauth_nonce="f062d8f1bd13d4a6e6182c83486c4347",
        oauth_signature="JEzmq0kkvWpquADO2lpBJF48%2F8U%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1380734481", oauth_token="237443494-Up97qun1nvHfxO79kWlGbt6lvQIFY71vWgMjyTR4",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Wed, 02 Oct 2013 17:21:23 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '179'
      X-Rate-Limit-Reset:
      - '1380735383'
      X-Transaction:
      - 0de0f535b4b12384
    body:
      encoding: UTF-8
      string: '{"id":394339242,"id_str":"394339242","name":"Pantography","screen_name":"pantography","location":"","description":"Pantography
        tweets a message every hour. Each one is consecutive: the first was ''0''
        and the last will consist of 140 zeds.","url":"http:\/\/t.co\/Vq0pyCOpDR","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/Vq0pyCOpDR","expanded_url":"http:\/\/joegatt.net\/pantography\/","display_url":"joegatt.net\/pantography\/","indices":[0,22]}]},"description":{"urls":[]}},"protected":false,"followers_count":7,"friends_count":7,"listed_count":0,"created_at":"Wed
        Oct 19 22:46:34 +0000 2011","favourites_count":0,"utc_offset":3600,"time_zone":"London","geo_enabled":false,"verified":false,"statuses_count":34154,"lang":"en","status":{"created_at":"Wed
        Oct 02 17:20:12 +0000 2013","id":385454178644283392,"id_str":"385454178644283392","text":",sv","source":"\u003ca
        href=\"http:\/\/joegatt.net\/pantography\/\" rel=\"nofollow\"\u003ejoegatt.net\/pantography\/\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"geo":null,"coordinates":null,"place":null,"contributors":null,"retweet_count":0,"favorite_count":0,"entities":{"hashtags":[],"symbols":[],"urls":[],"user_mentions":[]},"favorited":false,"retweeted":false,"lang":"und"},"contributors_enabled":false,"is_translator":false,"profile_background_color":"FFFFFF","profile_background_image_url":"http:\/\/a0.twimg.com\/profile_background_images\/370599943\/mechanical_duck_background_purple.png","profile_background_image_url_https":"https:\/\/si0.twimg.com\/profile_background_images\/370599943\/mechanical_duck_background_purple.png","profile_background_tile":true,"profile_image_url":"http:\/\/a0.twimg.com\/profile_images\/1610055811\/logo_normal.gif","profile_image_url_https":"https:\/\/si0.twimg.com\/profile_images\/1610055811\/logo_normal.gif","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/394339242\/1379626868","profile_link_color":"336699","profile_sidebar_border_color":"D5D5D5","profile_sidebar_fill_color":"FFFFFF","profile_text_color":"333333","profile_use_background_image":true,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false}'
  recorded_at: Wed, 02 Oct 2013 17:21:22 GMT
[...]
