---
http_interactions:
- request:
    method: post
    uri: http://ws.detectlanguage.com/0.2/detect
    body:
      encoding: US-ASCII
      string: q=The+Anatomy+of+Melancholy+Burton%27s+book+consists+mostly+of+a.&key=<_FIGARO_DETECT_LANGUAGE_KEY>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"data":{"detections":[{"language":"en","isReliable":true,"confidence":7.55}]}}'
  recorded_at: Mon, 17 Aug 2015 08:24:19 GMT
[...]
- request:
    method: get
    uri: http://www.worldcat.org/webservices/catalog/content/isbn/0804720991?recordSchema=info:srw/schema/1/dc&servicelevel=full&wskey=<_FIGARO_WORLD_CAT_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 407
      message: 'org.oclc.wskey.api.WSKeyException: WSKeyAuthenticate Failed: status=UNAUTHENTICATED'
    headers:
      Content-Type:
      - text/html;charset=utf-8
    body:
      encoding: UTF-8
      string: '<html><head><title> - Error report</title><style><!--H1 {font-family:Tahoma,Arial,sans-serif;color:white;background-color:#525D76;font-size:22px;}
        H2 {font-family:Tahoma,Arial,sans-serif;color:white;background-color:#525D76;font-size:16px;}
        H3 {font-family:Tahoma,Arial,sans-serif;color:white;background-color:#525D76;font-size:14px;}
        BODY {font-family:Tahoma,Arial,sans-serif;color:black;background-color:white;}
        B {font-family:Tahoma,Arial,sans-serif;color:white;background-color:#525D76;}
        P {font-family:Tahoma,Arial,sans-serif;background:white;color:black;font-size:12px;}A
        {color : black;}A.name {color : black;}HR {color : #525D76;}--></style> </head><body><h1>HTTP
        Status 407 - org.oclc.wskey.api.WSKeyException: WSKeyAuthenticate Failed:
        status=UNAUTHENTICATED</h1><HR size="1" noshade="noshade"><p><b>type</b> Status
        report</p><p><b>message</b> <u>org.oclc.wskey.api.WSKeyException: WSKeyAuthenticate
        Failed: status=UNAUTHENTICATED</u></p><p><b>description</b> <u>The client
        must first authenticate itself with the proxy (org.oclc.wskey.api.WSKeyException:
        WSKeyAuthenticate Failed: status=UNAUTHENTICATED).</u></p><HR size="1" noshade="noshade"><h3></h3></body></html>'
  recorded_at: Mon, 17 Aug 2015 08:25:45 GMT
- request:
    method: get
    uri: http://isbndb.com/api/v2/json/<_FIGARO_ISBNDB_KEY>/book/0804720991
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Catalyst:
      - '5.90042'
    body:
      encoding: UTF-8
      string: |
        {
           "index_searched" : "isbn",
           "data" : [
              {
                 "book_id" : "discourse_networks_1800_1900_a01",
                 "isbn10" : "0804720991",
                 "notes" : "Translation of: Aufschreibesysteme 1800/1900.\n\nIncludes bibliographical references ([419]-447) and index.",
                 "isbn13" : "9780804720991",
                 "edition_info" : "",
                 "lcc_number" : "",
                 "dewey_decimal" : "830.9/357",
                 "title_long" : "",
                 "author_data" : [
                    {
                       "id" : "kittler_friedrich_a",
                       "name" : "Kittler, Friedrich A."
                    },
                    {
                       "id" : "michael_metteer",
                       "name" : "Michael Metteer"
                    }
                 ],
                 "urls_text" : "",
                 "publisher_text" : "Stanford, Calif. : Stanford University Press, c1990.",
                 "publisher_name" : "Stanford University Press",
                 "subject_ids" : [
                    "german_literature_19th_century_history_and_criticism",
                    "german_literature_20th_century_history_and_criticism",
                    "books_and_reading_in_literature",
                    "authorship",
                    "books_and_reading_germany_history_19th_century",
                    "books_and_reading_germany_history_20th_century",
                    "literature_and_society_germany_history_19th_century",
                    "literature_and_society_germany_history_20th_century"
                 ],
                 "physical_description_text" : "xxxiii, 459 p. : ill ; 25 cm.",
                 "dewey_normal" : "830.9357",
                 "marc_enc_level" : "",
                 "awards_text" : "",
                 "publisher_id" : "stanford_university_press",
                 "title" : "Discourse networks 1800/1900",
                 "language" : "eng",
                 "summary" : "",
                 "title_latin" : "Discourse networks 1800/1900"
              }
           ]
        }
  recorded_at: Mon, 17 Aug 2015 08:25:46 GMT
- request:
    method: get
    uri: https://www.googleapis.com/books/v1/volumes?country=GB&maxResults=1&q=ISBN:0804720991
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"AEqHJ39cYOcHij976IZqD9LCWzE/EOHeA3pdAXeJ-uNs9V_nfT-vUj8"'
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=1
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "books#volumes",
         "totalItems": 16,
         "items": [
          {
           "kind": "books#volume",
           "id": "nRo0Pk8djjoC",
           "etag": "6UduZI6GKuI",
           "selfLink": "https://www.googleapis.com/books/v1/volumes/nRo0Pk8djjoC",
           "volumeInfo": {
            "title": "Discourse Networks 1800/1900",
            "authors": [
             "Friedrich A. Kittler"
            ],
            "publisher": "Stanford University Press",
            "publishedDate": "1992",
            "description": "This is a highly original book about the connections between historical moment, social structure, technology, communication systems, and what is said and thought using these systems - notably literature. The author focuses on the differences between 'discourse networks' in 1800 and in 1900, in the process developing a new analysis of the shift from romanticism to modernism. The work might be classified as a German equivalent to the New Historicism that is currently of great interest among American literary scholars, both in the intellectual influences to which Kittler responds and in his concern to ground literature in the most concrete details of historical reality. The artful structure of the book begins with Goethe's Faust and ends with Valery's Faust. In the 1800 section, the author discusses how language was learned, the emergence of the modern university, the associated beginning of the interpretation of contemporary literature, and the canonization of literature. Among the writers and works Kittler analyzes in addition to Goethe's Faust are Schlegel, Hegel, E. T. A. Hoffman's 'The Golden Pot', and Goethe's Tasso.",
            "industryIdentifiers": [
             {
              "type": "ISBN_10",
              "identifier": "0804720991"
             },
             {
              "type": "ISBN_13",
              "identifier": "9780804720991"
             }
            ],
            "readingModes": {
             "text": true,
             "image": true
            },
            "pageCount": 459,
            "printType": "BOOK",
            "categories": [
             "Literary Criticism"
            ],
            "averageRating": 4.0,
            "ratingsCount": 1,
            "maturityRating": "NOT_MATURE",
            "allowAnonLogging": false,
            "contentVersion": "0.0.2.0.preview.3",
            "imageLinks": {
             "smallThumbnail": "http://books.google.co.uk/books/content?id=nRo0Pk8djjoC&printsec=frontcover&img=1&zoom=5&edge=curl&source=gbs_api",
             "thumbnail": "http://books.google.co.uk/books/content?id=nRo0Pk8djjoC&printsec=frontcover&img=1&zoom=1&edge=curl&source=gbs_api"
            },
            "language": "en",
            "previewLink": "http://books.google.co.uk/books?id=nRo0Pk8djjoC&printsec=frontcover&dq=ISBN:0804720991&hl=&cd=1&source=gbs_api",
            "infoLink": "http://books.google.co.uk/books?id=nRo0Pk8djjoC&dq=ISBN:0804720991&hl=&source=gbs_api",
            "canonicalVolumeLink": "http://books.google.co.uk/books/about/Discourse_Networks_1800_1900.html?hl=&id=nRo0Pk8djjoC"
           },
           "saleInfo": {
            "country": "GB",
            "saleability": "NOT_FOR_SALE",
            "isEbook": false
           },
           "accessInfo": {
            "country": "GB",
            "viewability": "PARTIAL",
            "embeddable": true,
            "publicDomain": false,
            "textToSpeechPermission": "ALLOWED",
            "epub": {
             "isAvailable": true,
             "acsTokenLink": "http://books.google.co.uk/books/download/Discourse_Networks_1800_1900-sample-epub.acsm?id=nRo0Pk8djjoC&format=epub&output=acs4_fulfillment_token&dl_type=sample&source=gbs_api"
            },
            "pdf": {
             "isAvailable": false
            },
            "webReaderLink": "http://books.google.co.uk/books/reader?id=nRo0Pk8djjoC&hl=&printsec=frontcover&output=reader&source=gbs_api",
            "accessViewStatus": "SAMPLE",
            "quoteSharingAllowed": false
           },
           "searchInfo": {
            "textSnippet": "This is a highly original book about the connections between historical moment, social structure, technology, communication systems, and what is said and thought using these systems - notably literature."
           }
          }
         ]
        }
  recorded_at: Mon, 17 Aug 2015 08:25:46 GMT
- request:
    method: get
    uri: http://openlibrary.org/api/books?bibkeys=ISBN:0804720991&format=json&jscmd=details
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ol-Stats:
      - '"IB 1 0.062 MC 2 0.003 TT 0 0.067"'
    body:
      encoding: UTF-8
      string: '{"ISBN:0804720991": {"bib_key": "ISBN:0804720991", "preview": "noview",
        "preview_url": "http://openlibrary.org/books/OL20093119M/Discourse_networks_1800-1900",
        "info_url": "http://openlibrary.org/books/OL20093119M/Discourse_networks_1800-1900",
        "details": {"publishers": ["Stanford University press"], "pagination": "xxxiii,
        459 p. :", "identifiers": {"goodreads": ["212450"], "librarything": ["430888"]},
        "key": "/books/OL20093119M", "title": "Discourse networks, 1800-1900", "notes":
        {"type": "/type/text", "value": "Translation of, Aufschreibesysteme 1800/1900.\n\nOriginally
        published: Fink Verlag, 1985."}, "number_of_pages": 459, "created": {"type":
        "/type/datetime", "value": "2008-10-25T21:32:21.671026"}, "languages": [{"key":
        "/languages/eng"}], "isbn_10": ["0804720991"], "latest_revision": 4, "publish_country":
        "xxu", "last_modified": {"type": "/type/datetime", "value": "2010-08-18T14:02:19.870129"},
        "authors": [{"name": "Friedrich A. Kittler", "key": "/authors/OL77726A"}],
        "publish_date": "1990", "by_statement": "Friedrich A. Kittler ; translated
        by Michael Metteer, with Chris Cullens ; foreword by David A. Wellbery.",
        "publish_places": ["Stanford, Calif"], "works": [{"key": "/works/OL882892W"}],
        "type": {"key": "/type/edition"}, "subjects": ["German literature -- 19th
        century -- History and criticism.", "German literature -- 20th century --
        History and criticism.", "Books and reading -- Germany -- History -- 20th
        century.", "Books and reading -- Germany -- History -- 19th century.", "Literature
        and society -- Germany -- History -- 20th century.", "Literature and society
        -- Germany -- History -- 19th century.", "Books and reading in literature.",
        "Critical studies.", "Authorship."], "revision": 4}}}'
  recorded_at: Mon, 17 Aug 2015 08:25:47 GMT
- request:
    method: get
    uri: https://www.googleapis.com/books/v1/volumes?country=GB&maxResults=1&q=ISBN:INVALID_ISBN
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"AEqHJ39cYOcHij976IZqD9LCWzE/lhf5nNb2kdbzRfjiv6FOzlz5tpM"'
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=1
    body:
      encoding: UTF-8
      string: |
     [...]
- request:
    method: get
    uri: http://openlibrary.org/api/books?bibkeys=ISBN:INVALID_ISBN&format=json&jscmd=details
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ol-Stats:
      - '"IB 1 0.031 TT 0 0.031"'
    body:
      encoding: UTF-8
      string: '{}'
  recorded_at: Mon, 17 Aug 2015 08:26:01 GMT
- request:
    method: get
    uri: http://isbndb.com/api/v2/json/<_FIGARO_ISBNDB_KEY>/book/INVALID_ISBN
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Catalyst:
      - '5.90042'
    body:
      encoding: UTF-8
      string: |
        {
           "error" : "Unable to locate INVALID_ISBN"
        }
  recorded_at: Mon, 17 Aug 2015 08:26:10 GMT
[...]
- request:
    method: get
    uri: http://openlibrary.org/api/books?bibkeys=ISBN:0140446044&format=json&jscmd=details
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ol-Stats:
      - '"IB 1 0.031 MC 2 0.001 TT 0 0.034"'
    body:
      encoding: UTF-8
      string: '{"ISBN:0140446044": {"info_url": "http://openlibrary.org/books/OL1518084M/The_complete_Essays",
        "bib_key": "ISBN:0140446044", "preview_url": "http://openlibrary.org/books/OL1518084M/The_complete_Essays",
        "thumbnail_url": "https://covers.openlibrary.org/b/id/104155-S.jpg", "details":
        {"number_of_pages": 1283, "series": ["Penguin classics"], "covers": [104155],
        "lc_classifications": ["PQ1642.E5 S37 1993"], "latest_revision": 8, "contributions":
        ["Screech, M. A."], "title": "The complete Essays", "languages": [{"key":
        "/languages/eng"}], "subjects": ["Montaigne, Michel de, 1533-1592 -- Translations
        into English."], "publish_country": "enk", "by_statement": "translated and
        edited with an introduction and notes by M.A. Screech.", "type": {"key": "/type/edition"},
        "revision": 8, "publishers": ["Penguin Books"], "last_modified": {"type":
        "/type/datetime", "value": "2011-06-18T00:14:56.366032"}, "key": "/books/OL1518084M",
        "authors": [{"name": "Michel de Montaigne", "key": "/authors/OL6899172A"}],
        "publish_places": ["London, England", "New York, N.Y., USA"], "pagination":
        "1283 p. ;", "created": {"type": "/type/datetime", "value": "2008-04-01T03:28:50.625462"},
        "dewey_decimal_class": ["844/.3"], "notes": {"type": "/type/text", "value":
        "Includes bibliographical references and index."}, "identifiers": {"goodreads":
        ["30735"], "librarything": ["15610"]}, "lccn": ["93203834"], "isbn_10": ["0140446044"],
        "publish_date": "1993", "work_title": ["Essais."], "works": [{"key": "/works/OL1086528W"}]},
        "preview": "noview"}}'
  recorded_at: Mon, 24 Aug 2015 05:52:58 GMT
- request:
    method: post
    uri: https://hooks.slack.com/services/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
    body:
      encoding: US-ASCII
      string: payload=%7B%22username%22%3A%22joegatt.net%22%2C%22icon_url%22%3A%22http%3A%2F%2Fjoegatt.net%2Flogo.png%22%2C%22text%22%3A%22New+book+added%3A+The+Complete+Essays+by+Michel+de+Montaigne.+Use+as%3A+.%22%7D
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html
    body:
      encoding: UTF-8
      string: ok
  recorded_at: Mon, 24 Aug 2015 05:53:00 GMT
[...]
- request:
    method: post
    uri: https://api.twitter.com/1.1/statuses/update.json
    body:
      encoding: US-ASCII
      string: status=0
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<_FIGARO_TWITTER_PANTOGRAPHY_KEY>", oauth_nonce="0d0541688af00edb4bea38b818cd04d4",
        oauth_signature="Q9nurdBG2onXHoKGpRvAtDcSRPQ%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1440438156", oauth_token="237443494-Up97qun1nvHfxO79kWlGbt6lvQIFY71vWgMjyTR4",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Mon, 24 Aug 2015 17:42:36 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - c3133cb8706b3454fc070bc7afd4515b
      X-Response-Time:
      - '217'
      X-Transaction:
      - 36ee308c8c9ce86e
      X-Tsa-Request-Body-Time:
      - '85'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '{"created_at":"Mon Aug 24 17:42:36 +0000 2015","id":635869833180114945,"id_str":"635869833180114945","text":"0","source":"\u003ca
        href=\"http:\/\/nembrot.org\" rel=\"nofollow\"\u003ecatholicon140\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":237443494,"id_str":"237443494","name":"Catholicon
        140","screen_name":"catholicon140","location":"","description":"","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":0,"friends_count":4,"listed_count":0,"created_at":"Wed
        Jan 12 21:22:18 +0000 2011","favourites_count":0,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":1533,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/abs.twimg.com\/sticky\/default_profile_images\/default_profile_1_normal.png","profile_image_url_https":"https:\/\/abs.twimg.com\/sticky\/default_profile_images\/default_profile_1_normal.png","profile_link_color":"0084B4","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":true,"default_profile_image":true,"following":false,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":0,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[]},"favorited":false,"retweeted":false,"lang":"und"}'
  recorded_at: Mon, 24 Aug 2015 17:42:36 GMT
- request:
    method: get
    uri: https://api.twitter.com/1.1/users/show.json?user_id=237443494
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<_FIGARO_TWITTER_PANTOGRAPHY_KEY>", oauth_nonce="dbd8186edcaf51067eec5b6b9341ae47",
        oauth_signature="fmW82gg%2F5DQEf1MyMdxy5jNkZHE%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1440439304", oauth_token="237443494-Up97qun1nvHfxO79kWlGbt6lvQIFY71vWgMjyTR4",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Mon, 24 Aug 2015 18:01:44 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 0b75af8580a47c162510c8d07e166ab8
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '179'
      X-Rate-Limit-Reset:
      - '1440440204'
      X-Response-Time:
      - '194'
      X-Transaction:
      - 5d46b7067fd0b4a5
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '{"id":237443494,"id_str":"237443494","name":"Catholicon 140","screen_name":"catholicon140","location":"","profile_location":null,"description":"","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":0,"friends_count":4,"listed_count":0,"created_at":"Wed
        Jan 12 21:22:18 +0000 2011","favourites_count":0,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":1533,"lang":"en","status":{"created_at":"Mon
        Aug 24 17:42:36 +0000 2015","id":635869833180114945,"id_str":"635869833180114945","text":"0","source":"\u003ca
        href=\"http:\/\/nem[...]
[...]
