| $("#thread_#{ @thread.id.to_s }").html("#{ escape_javascript(render '/commontator/threads/show', thread: @thread, user: @user) }");
-# | $("#thread_#{ @thread.id.to_s } .comments").html("#{ escape_javascript(render 'list', comments: @thread.ordered_comments, user: @user) }");
-#| $("#thread_#{ @thread.id.to_s } #new_comment").hide();
-#| $("#thread_#{ @thread.id.to_s } a[href$='comments/new']").fadeIn();
| $("#comment_#{ @comment.id.to_s }").hide().fadeIn()[0];
-#| window.Nembrot.content_initializers(); FIXME: content_initializers no longer exists - why did we need this?
-#.scrollIntoView();
| window.Nembrot.track_comment('new');
= javascript_proc
