figure= gmaps({last_map: false})

javascript:
  Gmaps.map = new Gmaps4RailsGoogle();
  Gmaps.load_map = function() {
      Gmaps.map.map_options.maxZoom = 15;
      Gmaps.map.initialize();
      Gmaps.map.markers = #{ raw map };
      Gmaps.map.create_markers();
      Gmaps.map.adjustMapToBounds();
      Gmaps.map.callback();
  };
  Gmaps.loadMaps();
