- document_title = t('site.title')
- set_meta_tags :title => document_title,
                :description => '',
                :open_graph => { :title => document_title }

%article
  %header
    %hgroup{ :data => {:title => document_title} }
      %h1= t('site.title')
  
  %ul
    %li= link_to t('notes.title'), notes_path
    %li= link_to t('tags.title'), tags_path
