# Rename this file secret_api.yml and use it to put all
# your API Keys, username, passwords, etc.
#
# /.gitignore is set to ignore secret.yml

defaults: &defaults
  evernote:
    username: change_me
    password: change_me
    consumer_key: change_me
    developer_token: change_me

development:
  <<: *defaults

test:
  <<: *defaults

staging:
  <<: *defaults

production:
  <<: *defaults
