# Rename this file secret_api.yml and use it to put all
# your API Keys, username, passwords, etc.
#
# /.gitignore is set to ignore secret.yml

defaults: &defaults
  database_encryption_key: CHANGEME
  mailer:
    user_name: CHANGEME
    password: CHANGEME
  auth:
    evernote:
      consumer_key: CHANGEME
      consumer_secret: CHANGEME
    detect_language:
      api_key: CHANGEME

development:
  <<: *defaults

test:
  <<: *defaults

staging:
  <<: *defaults

production:
  <<: *defaults
