- document_title = t('tags.title')
- set_meta_tags :title => document_title,
                :description => '',
                :open_graph => { :title => document_title },
                :noindex => true

%section
  %header
    %hgroup{ :data => {:title => document_title} }
      %h1= t('tags.title')
      %aside
        %h4#notice= notice

  = render 'tags_list', :tags => @tags
