%section

  %header
    %hgroup
      %h1 Tags
      %aside
        %h4#notice= notice

  %ul
    - tag_cloud(@tags, %w(css1 css2 css3 css4)) do |tag, css_class|
      %li= link_to tag.name, tag_path(tag.name.parameterize), :class => css_class
