- document_title = "Tags | joegatt.net"
- set_meta_tags :title => document_title,
                :description => '',
                :open_graph => { :title => document_title },
                :noindex => true

%nav
  %h6 Breadcrumbs
  %ul
    %li= link_to 'Home', root_path
    %li Tags

%section
  %header
    %hgroup{ :data => {:title => document_title} }
      %h1 Tags
      %aside
        %h4#notice= notice

  %ul
    - tag_cloud(@tags, %w(css1 css2 css3 css4)) do |tag, css_class|
      %li= link_to tag.name, tag_path(tag.slug), :class => css_class
