--- 
http_interactions: 
- request: 
    method: get
    uri: https://www.googleapis.com/books/v1/volumes?country=GB&maxResults=1&q=ISBN:INVALID_ISBN
    body: 
      encoding: US-ASCII
      string: ""
    headers: {}

  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Etag: 
      - "\"I09ELXbrmOlE-RFCkDsRbIJj278/rkqf0JRMcaQGroRBjhCuQTQf4BQ\""
      Content-Type: 
      - application/json; charset=UTF-8
    body: 
      encoding: US-ASCII
      string: |
        {
         "kind": "books#volumes",
         "totalItems": 470,
         "items": [
          {
           "kind": "books#volume",
           "id": "-ml3OgAACAAJ",
           "etag": "i/t33XUCoEQ",
           "selfLink": "https://www.googleapis.com/books/v1/volumes/-ml3OgAACAAJ",
           "volumeInfo": {
            "title": "Invalid Isbn",
            "authors": [
             "C. Longaker"
            ],
            "publisher": "Arrow",
            "publishedDate": "1997-03-06",
            "industryIdentifiers": [
             {
              "type": "ISBN_10",
              "identifier": "1856870308"
             },
             {
              "type": "ISBN_13",
              "identifier": "9781856870306"
             }
            ],
            "printType": "BOOK",
            "contentVersion": "preview-1.0.0",
            "language": "en",
            "previewLink": "http://books.google.co.uk/books?id=-ml3OgAACAAJ&dq=ISBN:INVALID_ISBN&hl=&cd=1&source=gbs_api",
            "infoLink": "http://books.google.co.uk/books?id=-ml3OgAACAAJ&dq=ISBN:INVALID_ISBN&hl=&source=gbs_api",
            "canonicalVolumeLink": "http://books.google.co.uk/books/about/Invalid_Isbn.html?hl=&id=-ml3OgAACAAJ"
           },
           "saleInfo": {
            "country": "GB",
            "saleability": "NOT_FOR_SALE",
            "isEbook": false
           },
           "accessInfo": {
            "country": "GB",
            "viewability": "NO_PAGES",
            "embeddable": false,
            "publicDomain": false,
            "textToSpeechPermission": "ALLOWED",
            "epub": {
             "isAvailable": false
            },
            "pdf": {
             "isAvailable": false
            },
            "webReaderLink": "http://books.google.co.uk/books/reader?id=-ml3OgAACAAJ&hl=&printsec=frontcover&output=reader&source=gbs_api",
            "accessViewStatus": "NONE"
           }
          }
         ]
        }

  recorded_at: Sat, 22 Jun 2013 20:16:56 GMT
recorded_with: VCR 2.5.0
