--- 
http_interactions: 
- request: 
    method: get
    uri: https://www.googleapis.com/books/v1/volumes?country=GB&maxResults=1&q=ISBN:0804720991
    body: 
      encoding: US-ASCII
      string: ""
    headers: {}

  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Etag: 
      - "\"I09ELXbrmOlE-RFCkDsRbIJj278/qbQDkSQxaU284YGV6ux1modJiKQ\""
      Content-Type: 
      - application/json; charset=UTF-8
    body: 
      encoding: ASCII-8BIT
      string: "{\n \"kind\": \"books#volumes\",\n \"totalItems\": 111,\n \"items\": [\n  {\n   \"kind\": \"books#volume\",\n   \"id\": \"nRo0Pk8djjoC\",\n   \"etag\": \"zSMpRCvNUoo\",\n   \"selfLink\": \"https://www.googleapis.com/books/v1/volumes/nRo0Pk8djjoC\",\n   \"volumeInfo\": {\n    \"title\": \"Discourse Networks 1800/1900\",\n    \"authors\": [\n     \"Friedrich A. Kittler\"\n    ],\n    \"publisher\": \"Stanford University Press\",\n    \"publishedDate\": \"1992-08-01\",\n    \"description\": \"This is a highly original book about the connections between historical moment, social structure, technology, communication systems, and what is said and thought using these systems--notably literature. The author focuses on the differences between 'discourse networks' in 1800 and in 1900, in the process developing a new analysis of the shift from romanticism to modernism. The work might be classified as a German equivalent to the New Historicism that is currently of great interest among Amer[...]
