--- 
http_interactions: 
- request: 
    method: get
    uri: https://www.googleapis.com/books/v1/volumes?country=GB&q=ISBN%3A0123456789
    body: 
      encoding: US-ASCII
      string: ""
    headers: {}

  response: 
    status: 
      code: 200
      message: OK
    headers: 
      etag: 
      - "\"rNbqrGiPZkZossZyFS43srwvI1c/Zu9Uufc8WVqj_BnUKhagEwyWtaE\""
      content-type: 
      - application/json; charset=UTF-8
    body: 
      encoding: ASCII-8BIT
      string: "{\n \"kind\": \"books#volumes\",\n \"totalItems\": 164,\n \"items\": [\n  {\n   \"kind\": \"books#volume\",\n   \"id\": \"EmQ6ygAACAAJ\",\n   \"etag\": \"p4wnPhbWm5c\",\n   \"selfLink\": \"https://www.googleapis.com/books/v1/volumes/EmQ6ygAACAAJ\",\n   \"volumeInfo\": {\n    \"title\": \"The Man Without Qualities\",\n    \"authors\": [\n     \"Professor Robert Musil\"\n    ],\n    \"publisher\": \"Pan MacMillan\",\n    \"publishedDate\": \"2011-09-16\",\n    \"description\": \"Ulrich has no qualities in the sense that his self-awareness is completely divorced from his abilities. He is drawn into a project, the \\\"Parallel Campaign\\\", to celebrate the 70th anniversary of Emperor Franz Joseph's coronation in 1918.\",\n    \"industryIdentifiers\": [\n     {\n      \"type\": \"ISBN_10\",\n      \"identifier\": \"1447211871\"\n     },\n     {\n      \"type\": \"ISBN_13\",\n      \"identifier\": \"9781447211877\"\n     }\n    ],\n    \"pageCount\": 1130,\n    \"printType\": \"BOOK\",\n    \"averageRating\": 4.0,\n    \"ratingsCount\": 58,\n    \"contentVersion\": \"preview-1.0.0\",\n    \"imageLinks\": {\n     \"smallThumbnail\": \"http://bks1.books.google.co.uk/books?id=EmQ6ygAACAAJ&printsec=frontcover&img=1&zoom=5&source=gbs_api\",\n     \"thumbnail\": \"http://bks1.books.google.co.uk/books?id=EmQ6ygAACAAJ&printsec=frontcover&img=1&zoom=1&source=gbs_api\"\n    },\n    \"language\": \"en\",\n    \"previewLink\": \"http://books.google.co.uk/books?id=EmQ6ygAACAAJ&dq=ISBN:1447211871&hl=&cd=1&source=gbs_api\",\n    \"infoLink\": \"http://books.google.co.uk/books?id=EmQ6ygAACAAJ&dq=ISBN:1447211871&hl=&source=gbs_api\",\n    \"canonicalVolumeLink\": \"http://books.google.co.uk/books/about/The_Man_Without_Qualities.html?hl=&id=EmQ6ygAACAAJ\"\n   },\n   \"saleInfo\": {\n    \"country\": \"GB\",\n    \"saleability\": \"NOT_FOR_SALE\",\n    \"isEbook\": false\n   },\n   \"accessInfo\": {\n    \"country\": \"GB\",\n    \"viewability\": \"NO_PAGES\",\n    \"embeddable\": false,\n    \"publicDomain\": false,\n    \"textToSpeechPermission\": \"ALLOWED\",\n    \"epub\": {\n     \"isAvailable\": false\n    },\n    \"pdf\": {\n     \"isAvailable\": false\n    },\n    \"webReaderLink\": \"http://books.google.co.uk/books/reader?id=EmQ6ygAACAAJ&hl=&printsec=frontcover&output=reader&source=gbs_api\",\n    \"accessViewStatus\": \"NONE\"\n   },\n   \"searchInfo\": {\n    \"textSnippet\": \"Ulrich has no qualities in the sense that his self-awareness is completely divorced from his abilities. He is drawn into a project, the &quot;Parallel Campaign&quot;, to celebrate the 70th anniversary of Emperor Franz Joseph&#39;s coronation in 1918.\"\n   }\n  },\n  {\n   \"kind\": \"books#volume\",\n   \"id\": \"Pn8d9riSL6UC\",\n   \"etag\": \"Ls0qP+uQegY\",\n   \"selfLink\": \"https://www.googleapis.com/books/v1/volumes/Pn8d9riSL6UC\",\n   \"volumeInfo\": {\n    \"title\": \"Invisible Cities\",\n    \"authors\": [\n     \"Italo Calvino\"\n    ],\n    \"publisher\": \"Houghton Mifflin Harcourt\",\n    \"publishedDate\": \"2012-10-26\",\n    \"description\": \"Imaginary conversations between Marco Polo and his host, the Chinese ruler Kublai Khan, conjure up cities of magical times. \xE2\x80\x9COf all tasks, describing the contents of a book is the most difficult and in the case of a marvelous invention like Invisible Cities, perfectly irrelevant\xE2\x80\x9D (Gore Vidal). Translated by William Weaver. A Helen and Kurt Wolff Book\",\n    \"industryIdentifiers\": [\n     {\n      \"type\": \"ISBN_10\",\n      \"identifier\": \"054413320X\"\n     },\n     {\n      \"type\": \"ISBN_13\",\n      \"identifier\": \"9780544133204\"\n     }\n    ],\n    \"pageCount\": 176,\n    \"printType\": \"BOOK\",\n    \"categories\": [\n     \"Fiction\"\n    ],\n    \"averageRating\": 4.0,\n    \"ratingsCount\": 870,\n    \"contentVersion\": \"1.2.1.0.preview.3\",\n    \"imageLinks\": {\n     \"smallThumbnail\": \"http://bks9.books.google.co.uk/books?id=Pn8d9riSL6UC&printsec=frontcover&img=1&zoom=5&edge=curl&source=gbs_api\",\n     \"thumbnail\": \"http://bks9.books.google.co.uk/books?id=Pn8d9riSL6UC&printsec=frontcover&img=1&zoom=1&edge=curl&source=gbs_api\"\n    },\n    \"language\": \"en\",\n    \"previewLink\": \"http://books.google.co.uk/books?id=Pn8d9riSL6UC&printsec=frontcover&dq=ISBN:1447211871&hl=&cd=2&source=gbs_api\",\n    \"infoLink\": \"http://books.google.co.uk/books?id=Pn8d9riSL6UC&dq=ISBN:1447211871&hl=&source=gbs_api\",\n    \"canonicalVolumeLink\": \"http://books.google.co.uk/books/about/Invisible_Cities.html?hl=&id=Pn8d9riSL6UC\"\n   },\n   \"saleInfo\": {\n    \"country\": \"GB\",\n    \"saleability\": \"NOT_FOR_SALE\",\n    \"isEbook\": false\n   },\n   \"accessInfo\": {\n    \"country\": \"GB\",\n    \"viewability\": \"PARTIAL\",\n    \"embeddable\": true,\n    \"publicDomain\": false,\n    \"textToSpeechPermission\": \"ALLOWED\",\n    \"epub\": {\n     \"isAvailable\": true,\n     \"acsTokenLink\": \"http://books.google.co.uk/books/download/Invisible_Cities-sample-epub.acsm?id=Pn8d9riSL6UC&format=epub&output=acs4_fulfillment_token&dl_type=sample&source=gbs_api\"\n    },\n    \"pdf\": {\n     \"isAvailable\": true,\n     \"acsTokenLink\": \"http://books.google.co.uk/books/download/Invisible_Cities-sample-pdf.acsm?id=Pn8d9riSL6UC&format=pdf&output=acs4_fulfillment_token&dl_type=sample&source=gbs_api\"\n    },\n    \"webReaderLink\": \"http://books.google.co.uk/books/reader?id=Pn8d9riSL6UC&hl=&printsec=frontcover&output=reader&source=gbs_api\",\n    \"accessViewStatus\": \"SAMPLE\"\n   },\n   \"searchInfo\": {\n    \"textSnippet\": \"Imaginary conversations between Marco Polo and his host, the Chinese ruler Kublai Khan, conjure up cities of magical times. \xE2\x80\x9COf all tasks, describing the contents of a book is the most difficult and in the case of a marvelous invention ...\"\n   }\n  },\n  {\n   \"kind\": \"books#volume\",\n   \"id\": \"aJuVPwAACAAJ\",\n   \"etag\": \"Kfw3RSljhog\",\n   \"selfLink\": \"https://www.googleapis.com/books/v1/volumes/aJuVPwAACAAJ\",\n   \"volumeInfo\": {\n    \"title\": \"The Man Without Qualities\",\n    \"subtitle\": \"Into the Millennium : (the criminals)\",\n    \"authors\": [\n     \"Robert Musil\"\n    ],\n    \"publisher\": \"Random House (UK)\",\n    \"publishedDate\": \"1995-07\",\n    \"industryIdentifiers\": [\n     {\n      \"type\": \"ISBN_10\",\n      \"identifier\": \"0749395885\"\n     },\n     {\n      \"type\": \"ISBN_13\",\n      \"identifier\": \"9780749395889\"\n     }\n    ],\n    \"pageCount\": 445,\n    \"printType\": \"BOOK\",\n    \"averageRating\": 4.0,\n    \"ratingsCount\": 1,\n  [...]
