--- 
http_interactions: 
- request: 
    method: get
    uri: http://www.worldcat.org/webservices/catalog/content/isbn/0804720991?recordSchema=info:srw/schema/1/dc&servicelevel=full&wskey=<WORLD_CAT_API_KEY>
    body: 
      encoding: US-ASCII
      string: ""
    headers: {}

  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - text/xml;charset=utf-8
    body: 
      encoding: ASCII-8BIT
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"no\"?>\n\
        <oclcdcs xmlns:dc=\"http://purl.org/dc/elements/1.1/\" xmlns:oclcterms=\"http://purl.org/oclc/terms/\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\n\
        <dc:creator>Kittler, Friedrich A.</dc:creator>\n\
        <dc:date>c1990</dc:date>\n\
        <dc:description>Translation of: Aufschreibesysteme 1800/1900.</dc:description>\n\
        <dc:description>Includes bibliographical references (p. [419]-447) and index.</dc:description>\n\
        <dc:description>This is a highly original book about the connections between historical moment, social structure, technology, communication systems, and what is said and thought using these systems--notably literature. The author focuses on the differences between 'discourse networks' in 1800 and in 1900, in the proces[...]
- request: 
    method: get
    uri: http://isbndb.com/api/v2/json/<ISBNDB_API_KEY>/book/0804720991
    body: 
      encoding: US-ASCII
      string: ""
    headers: {}

  response: 
    status: 
      code: 200
      message: OK
    headers: 
      X-Catalyst: 
      - "5.90030"
      Content-Type: 
      - text/plain; charset=UTF-8
    body: 
      encoding: US-ASCII
      string: |
        {
           "index_searched" : "isbn",
           "data" : [
              {
                 "dewey_decimal" : "830.9/357",
                 "urls_text" : "",
                 "publisher_id" : "stanford_university_press",
                 "isbn13" : "9780804720991",
                 "author_data" : [
                    {
                       "id" : "kittler_friedrich_a",
                       "name" : "Kittler, Friedrich A."
                    },
                    {
                       "name" : "Michael Metteer",
                       "id" : "michael_metteer"
                    }
                 ],
                 "edition_info" : "",
                 "isbn10" : "0804720991",
                 "title_latin" : "Discourse networks 1800/1900",
                 "title" : "Discourse networks 1800/1900",
                 "publisher_name" : "Stanford University Press",
                 "publisher_text" : "Stanford, Calif. : Stanford University Press, c1990.",
                 "title_long" : "",
                 "notes" : "Translation of: Aufschreibesysteme 1800/1900.\n\nIncludes bibliographical references ([419]-447) and index.",
                 "book_id" : "discourse_networks_1800_1900_a01",
                 "subject_ids" : [
                    "german_literature_19th_century_history_and_criticism",
                    "german_literature_20th_century_history_and_criticism",
                    "books_and_reading_in_literature",
                    "authorship",
                    "books_and_reading_germany_history_19th_century",
                    "books_and_reading_germany_history_20th_century",
                    "literature_and_society_germany_history_19th_century",
                    "literature_and_society_germany_history_20th_century"
                 ],
                 "lcc_number" : "",
                 "marc_enc_level" : "",
                 "awards_text" : "",
                 "language" : "eng",
                 "summary" : "",
                 "physical_description_text" : "xxxiii, 459 p. : ill ; 25 cm.",
                 "dewey_normal" : "830.9357"
              }
           ]
        }

  recorded_at: Sat, 22 Jun 2013 20:16:47 GMT
- request: 
    method: get
    uri: https://www.googleapis.com/books/v1/volumes?country=GB&maxResults=1&q=ISBN:0804720991
    body: 
      encoding: US-ASCII
      string: ""
    headers: {}

  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Etag: 
      - "\"I09ELXbrmOlE-RFCkDsRbIJj278/qbQDkSQxaU284YGV6ux1modJiKQ\""
      Content-Type: 
      - application/json; charset=UTF-8
    body: 
      encoding: ASCII-8BIT
      string: "{\n \"kind\": \"books#volumes\",\n \"totalItems\": 111,\n \"items\": [\n  {\n   \"kind\": \"books#volume\",\n   \"id\": \"nRo0Pk8djjoC\",\n   \"etag\": \"zSMpRCvNUoo\",\n   \"selfLink\": \"https://www.googleapis.com/books/v1/volumes/nRo0Pk8djjoC\",\n   \"volumeInfo\": {\n    \"title\": \"Discourse Networks 1800/1900\",\n    \"authors\": [\n     \"Friedrich A. Kittler\"\n    ],\n    \"publisher\": \"Stanford University Press\",\n    \"publishedDate\": \"1992-08-01\",\n    \"description\": \"This is a highly original book about the connections between historical moment, social structure, technology, communication systems, and what is said and thought using these systems--notably literature. The author focuses on the differences between 'discourse networks' in 1800 and in 1900, in the process developing a new analysis of the shift from romanticism to modernism. The work might be classified as a German equivalent to the New Historicism that is currently of great interest among Amer[...]
- request: 
    method: get
    uri: http://openlibrary.org/api/books?bibkeys=ISBN:0804720991&format=json&jscmd=details
    body: 
      encoding: US-ASCII
      string: ""
    headers: {}

  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
      X-Ol-Stats: 
      - "\"IB 1 0.052 MC 2 0.003 TT 0 0.057\""
    body: 
      encoding: US-ASCII
      string: "{\"ISBN:0804720991\": {\"bib_key\": \"ISBN:0804720991\", \"preview\": \"noview\", \"preview_url\": \"http://openlibrary.org/books/OL20093119M/Discourse_networks_1800-1900\", \"info_url\": \"http://openlibrary.org/books/OL20093119M/Discourse_networks_1800-1900\", \"details\": {\"publishers\": [\"Stanford University press\"], \"pagination\": \"xxxiii, 459 p. :\", \"identifiers\": {\"goodreads\": [\"212450\"], \"librarything\": [\"430888\"]}, \"key\": \"/books/OL20093119M\", \"title\": \"Discourse networks, 1800-1900\", \"notes\": {\"type\": \"/type/text\", \"value\": \"Translation of, Aufschreibesysteme 1800/1900.\\n\\nOriginally published: Fink Verlag, 1985.\"}, \"number_of_pages\": 459, \"created\": {\"type\": \"/type/datetime\", \"value\": \"2008-10-25T21:32:21.671026\"}, \"languages\": [{\"key\": \"/languages/eng\"}], \"isbn_10\": [\"0804720991\"], \"latest_revision\": 4, \"publish_country\": \"xxu\", \"last_modified\": {\"type\": \"/type/datetime\", \"value\": \"2010-08-18T14:02:19.870129\"}, \"authors\": [{\"name\": \"Friedrich A. Kittler\", \"key\": \"/authors/OL77726A\"}], \"publish_date\": \"1990\", \"by_statement\": \"Friedrich A. Kittler ; translated by Michael Metteer, with Chris Cullens ; foreword by David A. Wellbery.\", \"publish_places\": [\"Stanford, Calif\"], \"works\": [{\"key\": \"/works/OL882892W\"}], \"type\": {\"key\": \"/type/edition\"}, \"subjects\": [\"German literature -- 19th century -- History and criticism.\", \"German literature -- 20th century -- History and criticism.\", \"Books and reading -- Germany -- History -- 20th century.\", \"Books and reading -- Germany -- History -- 19th century.\", \"Literature and society -- Germany -- History -- 20th century.\", \"Literature and society -- Germany -- History -- 19th century.\", \"Books and reading in literature.\", \"Critical studies.\", \"Authorship.\"], \"revision\": 4}}}"
  recorded_at: Sat, 22 Jun 2013 20:16:49 GMT
recorded_with: VCR 2.5.0
