--- 
http_interactions: 
- request: 
    method: get
    uri: http://openlibrary.org/api/books?format=json&jscmd=details&bibkeys=ISBN%3A0804720991
    body: 
      encoding: US-ASCII
      string: ""
    headers: {}

  response: 
    status: 
      code: 200
      message: OK
    headers: 
      content-type: 
      - application/json
      x-ol-stats: 
      - "\"IB 1 0.082 MC 2 0.001 TT 0 0.086\""
    body: 
      encoding: US-ASCII
      string: "{\"ISBN:0804720991\": {\"bib_key\": \"ISBN:0804720991\", \"preview\": \"noview\", \"preview_url\": \"http://openlibrary.org/books/OL20093119M/Discourse_networks_1800-1900\", \"info_url\": \"http://openlibrary.org/books/OL20093119M/Discourse_networks_1800-1900\", \"details\": {\"publishers\": [\"Stanford University press\"], \"pagination\": \"xxxiii, 459 p. :\", \"identifiers\": {\"goodreads\": [\"212450\"], \"librarything\": [\"430888\"]}, \"key\": \"/books/OL20093119M\", \"title\": \"Discourse networks, 1800-1900\", \"notes\": {\"type\": \"/type/text\", \"value\": \"Translation of, Aufschreibesysteme 1800/1900.\\n\\nOriginally published: Fink Verlag, 1985.\"}, \"number_of_pages\": 459, \"created\": {\"type\": \"/type/datetime\", \"value\": \"2008-10-25T21:32:21.671026\"}, \"languages\": [{\"key\": \"/languages/eng\"}], \"isbn_10\": [\"0804720991\"], \"latest_revision\": 4, \"publish_country\": \"xxu\", \"last_modified\": {\"type\": \"/type/datetime\", \"value\": \"2010-08-18T14:02:19.870129\"}, \"authors\": [{\"name\": \"Friedrich A. Kittler\", \"key\": \"/authors/OL77726A\"}], \"publish_date\": \"1990\", \"by_statement\": \"Friedrich A. Kittler ; translated by Michael Metteer, with Chris Cullens ; foreword by David A. Wellbery.\", \"publish_places\": [\"Stanford, Calif\"], \"works\": [{\"key\": \"/works/OL882892W\"}], \"type\": {\"key\": \"/type/edition\"}, \"subjects\": [\"German literature -- 19th century -- History and criticism.\", \"German literature -- 20th century -- History and criticism.\", \"Books and reading -- Germany -- History -- 20th century.\", \"Books and reading -- Germany -- History -- 19th century.\", \"Literature and society -- Germany -- History -- 20th century.\", \"Literature and society -- Germany -- History -- 19th century.\", \"Books and reading in literature.\", \"Critical studies.\", \"Authorship.\"], \"revision\": 4}}}"
  recorded_at: Tue, 11 Jun 2013 09:28:06 GMT
recorded_with: VCR 2.5.0
