--- 
http_interactions: 
- request: 
    method: get
    uri: http://openlibrary.org/api/books?format=json&jscmd=details&bibkeys=ISBN%3A0394510526
    body: 
      encoding: US-ASCII
      string: ""
    headers: {}

  response: 
    status: 
      code: 200
      message: OK
    headers: 
      content-type: 
      - application/json
      x-ol-stats: 
      - "\"IB 1 0.051 MC 2 0.001 TT 0 0.055\""
    body: 
      encoding: US-ASCII
      string: "{\"ISBN:0394510526\": {\"info_url\": \"http://openlibrary.org/books/OL1733219M/The_man_without_qualities\", \"bib_key\": \"ISBN:0394510526\", \"preview_url\": \"http://openlibrary.org/books/OL1733219M/The_man_without_qualities\", \"thumbnail_url\": \"http://covers.openlibrary.org/b/id/253699-S.jpg\", \"details\": {\"number_of_pages\": 1774, \"table_of_contents\": [{\"type\": {\"key\": \"/type/toc_item\"}, \"title\": \"{'level': 0, 'label': '', 'pagenum': '', 'title': 'I. A sort of introduction and Pseudoreality prevails'}\"}, {\"type\": {\"key\": \"/type/toc_item\"}, \"title\": \"{'level': 0, 'label': '', 'pagenum': '', 'title': 'II. Into the millenium.'}\"}], \"covers\": [253699], \"lc_classifications\": [\"PT2625.U8 M313 1995\"], \"latest_revision\": 7, \"uri_descriptions\": [\"Publisher description\"], \"languages\": [{\"key\": \"/languages/eng\"}], \"title\": \"The man without qualities\", \"edition_name\": \"1st American ed.\", \"publish_country\": \"nyu\", \"by_statement\": \"Robert Musil ; translated from the German by Sophie Wilkins ; editorial consultant, Burton Pike.\", \"type\": {\"key\": \"/type/edition\"}, \"uris\": [\"http://www.loc.gov/catdir/description/random041/92037943.html\"], \"revision\": 7, \"publishers\": [\"A.A. Knopf\", \"Distributed by Random House\"], \"dewey_decimal_class\": [\"833/.912\"], \"last_modified\": {\"type\": \"/type/datetime\", \"value\": \"2011-12-21T18:45:50.991005\"}, \"key\": \"/books/OL1733219M\", \"authors\": [{\"name\": \"Robert Musil\", \"key\": \"/authors/OL135531A\"}], \"publish_places\": [\"New York\"], \"pagination\": \"2 v. (x, 1774 p.) ;\", \"created\": {\"type\": \"/type/datetime\", \"value\": \"2008-04-01T03:28:50.625462\"}, \"url\": [\"http://www.loc.gov/catdir/description/random041/92037943.html\"], \"identifiers\": {\"goodreads\": [\"850794\"], \"librarything\": [\"36097\"]}, \"lccn\": [\"92037943\"], \"isbn_10\": [\"0394510526\"], \"publish_date\": \"1995\", \"work_title\": [\"Mann ohne Eigenschaften.\"], \"works\": [{\"key\": \"/works/OL1330246W\"}]}, \"preview\": \"noview\"}}"
  recorded_at: Mon, 03 Jun 2013 18:52:04 GMT
recorded_with: VCR 2.5.0
