--- 
http_interactions: 
- request: 
    method: get
    uri: http://www.worldcat.org/webservices/catalog/content/isbn/INVALID_ISBN?recordSchema=info%3Asrw%2Fschema%2F1%2Fdc&servicelevel=full&wskey=<WORLD_CAT_API_KEY>
    body: 
      encoding: US-ASCII
      string: ""
    headers: {}

  response: 
    status: 
      code: 200
      message: OK
    headers: 
      content-type: 
      - text/xml;charset=utf-8
    body: 
      encoding: US-ASCII
      string: |
        <?xml version="1.0" encoding="UTF-8" standalone="no"?>
        <diagnostics xmlns:oclcterms="http://purl.org/oclc/terms/" xmlns:dc="http://purl.org/dc/elements/1.1/">
        <diagnostic xmlns="http://www.loc.gov/zing/srw/diagnostic/">
        <uri>info:srw/diagnostic/1/65</uri>
        <message>Record does not exist</message>
        </diagnostic>
        </diagnostics>

  recorded_at: Wed, 12 Jun 2013 11:22:18 GMT
recorded_with: VCR 2.5.0
