--- 
http_interactions: 
- request: 
    method: get
    uri: http://www.worldcat.org/webservices/catalog/content/isbn/0804720991?recordSchema=info%3Asrw%2Fschema%2F1%2Fdc&servicelevel=full&wskey=API_KEY_OBFUSCATED
    body: 
      encoding: US-ASCII
      string: ""
    headers: {}

  response: 
    status: 
      code: 200
      message: OK
    headers: 
      content-type: 
      - text/xml;charset=utf-8
    body: 
      encoding: US-ASCII
      string: |
        <?xml version="1.0" encoding="UTF-8" standalone="no"?>
        <oclcdcs xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:oclcterms="http://purl.org/oclc/terms/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
        <dc:contributor>Metteer, Michael.</dc:contributor>
        <dc:creator>Kittler, Friedrich A. (Friedrich Adolf), 1943-2011.</dc:creator>
        <dc:date>cop. 1990</dc:date>
        <dc:description>Lit.opg.: [419]-447. - Index.</dc:description>
        <dc:format>xxxiii, 459 p. : ill. ; 25 cm.</dc:format>
        <dc:identifier>0804716161 (geb.)</dc:identifier>
        <dc:identifier>9780804716161 (geb.)</dc:identifier>
        <dc:identifier>0804720991 (verbeterd : pbk)</dc:identifier>
        <dc:identifier>9780804720991</dc:identifier>
        <dc:language xsi:type="http://purl.org/dc/terms/ISO639-2">eng</dc:language>
        <dc:publisher>Stanford University Press</dc:publisher>
        <dc:subject>German literature.</dc:subject>
        <dc:subject>Books and reading in literature.</dc:subject>
        <dc:subject>Authorship.</dc:subject>
        <dc:subject>Books and reading.</dc:subject>
        <dc:subject>Literature and society.</dc:subject>
        <dc:subject xsi:type="http://purl.org/dc/terms/DDC">830.9/357</dc:subject>
        <dc:subject xsi:type="http://purl.org/dc/terms/LCC">PT345</dc:subject>
        <dc:title>Discourse networks 1800/1900 </dc:title>
        <dc:type>Text</dc:type>
        <oclcterms:recordContentSource>NLGGC</oclcterms:recordContentSource>
        <oclcterms:recordCreationDate xsi:type="http://purl.org/oclc/terms/marc008date">900115</oclcterms:recordCreationDate>
        <oclcterms:recordIdentifier xsi:type="http://purl.org/oclc/terms/lccn">   89026291 </oclcterms:recordIdentifier>
        <oclcterms:recordIdentifier>781994172</oclcterms:recordIdentifier>
        <oclcterms:languageOfCataloging xsi:type="http://purl.org/oclc/terms/iso639-2b">dut</oclcterms:languageOfCataloging>
        <oclcterms:recordTranscribingAgency>NLGGC</oclcterms:recordTranscribingAgency>
        <oclcterms:recordContentSource>fobidrtb</oclcterms:recordContentSource>
        </oclcdcs>

  recorded_at: Tue, 11 Jun 2013 09:28:28 GMT
recorded_with: VCR 2.5.0
