--- 
http_interactions: 
- request: 
    method: get
    uri: http://www.worldcat.org/webservices/catalog/content/isbn/0804720991?recordSchema=info%3Asrw%2Fschema%2F1%2Fdc&servicelevel=full&wskey=<WORLD_CAT_API_KEY>
    body: 
      encoding: US-ASCII
      string: ""
    headers: {}

  response: 
    status: 
      code: 200
      message: OK
    headers: 
      content-type: 
      - text/xml;charset=utf-8
    body: 
      encoding: ASCII-8BIT
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"no\"?>\n\
        <oclcdcs xmlns:dc=\"http://purl.org/dc/elements/1.1/\" xmlns:oclcterms=\"http://purl.org/oclc/terms/\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\n\
        <dc:creator>Kittler, Friedrich A.</dc:creator>\n\
        <dc:date>c1990</dc:date>\n\
        <dc:description>Translation of: Aufschreibesysteme 1800/1900.</dc:description>\n\
        <dc:description>Includes bibliographical references (p. [419]-447) and index.</dc:description>\n\
        <dc:description>This is a highly original book about the connections between historical moment, social structure, technology, communication systems, and what is said and thought using these systems--notably literature. The author focuses on the differences between 'discourse networks' in 1800 and in 1900, in the proces[...]
