---
http_interactions:
- request:
    method: post
    uri: http://ws.detectlanguage.com/0.2/detect
    body:
      encoding: US-ASCII
      string: q=Consequuntur+eos+laborum+nobis+quia+minus+aspernatur+sit+est+ut.+Eos+tempore+soluta+in+veritatis.+Duc&key=<DETECT_LANGUAGE_API_KEY>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"data":{"detections":[{"language":"en","isReliable":false,"confidence":0.12155591572123177},{"language":"it","isReliable":false,"confidence":0.13856812933025403}]}}'
  recorded_at: Thu, 04 Jul 2013 14:31:20 GMT
[...]
- request:
    method: post
    uri: http://ws.detectlanguage.com/0.2/detect
    body:
      encoding: US-ASCII
      string: q=%D0%90%D0%BD%D0%B0%D1%82%D0%BE%D0%BC%D0%B8%D1%8F+%D0%BC%D0%B5%D0%BB%D0%B0%D0%BD%D1%85%D0%BE%D0%BB%D0%B8%D0%B8+%D0%93%D0%B8%D0%B3%D0%B0%D0%BD%D1%82%D1%81%D0%BA%D0%B8%D0%B9+%D1%82%D0%BE%D0%BC+in-quarto+%D1%82%D0%BE%D0%BB%D1%89%D0%B8%D0%BD%D0%BE%D0%B9+%D0%B2+900.&key=<DETECT_LANGUAGE_API_KEY>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"data":{"detections":[{"language":"ru","isReliable":true,"confidence":0.2998696219035202},{"language":"en","isReliable":false,"confidence":0.008103727714748784}]}}'
  recorded_at: Thu, 04 Jul 2013 14:31:21 GMT
recorded_with: VCR 2.5.0
