---
http_interactions:
- request:
    method: post
    uri: http://ws.detectlanguage.com/0.2/detect
    body:
      encoding: US-ASCII
      string: q=Nemo+aut+qui+architecto+cum+et+perspiciatis+at+ratione+qui.+Et+perspiciatis+quibusdam+quos.+Expedita+&key=<DETECT_LANGUAGE_API_KEY>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"data":{"detections":[{"language":"fr","isReliable":false,"confidence":0.30832476875642345},{"language":"en","isReliable":false,"confidence":0.23500810372771475}]}}'
  recorded_at: Thu, 04 Jul 2013 14:31:19 GMT
- request:
    method: post
    uri: http://ws.detectlanguage.com/0.2/detect
    body:
      encoding: US-ASCII
      string: q=The+Anatomy+of+Melancholy+Burton%27s+book+consists+mostly+of+a.&key=<DETECT_LANGUAGE_API_KEY>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"data":{"detections":[{"language":"en","isReliable":true,"confidence":0.413290113452188}]}}'
  recorded_at: Thu, 04 Jul 2013 14:31:19 GMT
recorded_with: VCR 2.5.0
