---
http_interactions:
- request:
    method: post
    uri: http://ws.detectlanguage.com/0.2/detect
    body:
      encoding: US-ASCII
      string: q=The+Anatomy+of+Melancholy&key=<DETECT_LANGUAGE_API_KEY>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"data":{"detections":[{"language":"en","isReliable":false,"confidence":0.13776337115072934},{"language":"ms","isReliable":false,"confidence":0.05706134094151213}]}}'
  recorded_at: Mon, 01 Jul 2013 22:50:41 GMT
recorded_with: VCR 2.5.0
