---
http_interactions:
- request:
    method: post
    uri: http://ws.detectlanguage.com/0.2/detect
    body:
      encoding: US-ASCII
      string: q=hsdhasdjkahdjka&key=<DETECT_LANGUAGE_API_KEY>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"data":{"detections":[{"language":"hr","isReliable":false,"confidence":0.10335917312661498},{"language":"sr","isReliable":false,"confidence":0.11661807580174927}]}}'
  recorded_at: Mon, 01 Jul 2013 22:50:43 GMT
recorded_with: VCR 2.5.0
