//////////////////////////////
//
// Resets
//
//////////////////////////////

a, p, input, textarea, h1, h2, h3, h4, h5, h6, ol, ul, li, div, section, nav
  margin: 0
  padding: 0

//////////////////////////////
//
// Elements
//
//////////////////////////////

::selection
  text-shadow: none

::-moz-selection
  text-shadow: none

html
  height: 100%
  overflow-x: hidden
  overflow-y: scroll
  -webkit-text-size-adjust: auto

body
  font:
    size: $font-size
  height: 100%
  line-height: $line-height

// Disable dotted outline.
//  See: http://stackoverflow.com/questions/179510
*:focus
  outline: 0

a
  text-decoration: none
  // Disable grey box around tapped areas (particularly on iPhone).
  //  See: http://stackoverflow.com/questions/9009377
  &:link
    -webkit-tap-highlight-color: rgba(0,0,0,0)

button, input
  &::-moz-focus-inner
  border: 0

nav:not(.tags) ul, aside ul.shares
  li a:first-of-type
    &[href*=pdf]
    &[dir=rtl]
      text-align: right
    &[rel=tag]
      text-transform: lowercase
    &:focus
      outline: 0
    &[href*=admin]:before, &[href*=settings]:before
      +icon-settings
      +icon-medium
    &[href*=users]:before
      +icon-user-2-empty
    &[href$='#disqus_thread']:before,
    &[href$='#comments']:before
      +icon-comment-empty
    &[href$='#menu']:before
      +icon-list
    &[href*=evernote]:before,
      +icon-evernote
    &[href*=facebook]:before,
      +icon-facebook
    &[href*=github]:before
      +icon-github-circled
    &[href*=google]:before, &[href*=gplus]:before
      +icon-gplus
    &[href*=linkedin]:before
      +icon-linkedin
    &[href^=mailto]:before
      +icon-mail
      +icon-regular
    &[href$=rss]:before,
    &[href$=atom]:before      
      +icon-rss
      +icon-regular
    &[href*=reset]:before
      +icon-undo
    &[href*=signout]:before
      +icon-x
    &[href*=soundcloud]:before
      +icon-soundcloud
    &[href*=spotify]:before
      +icon-spotify
    &[href*=twitter]:before
      +icon-twitter
    &[href*=vimeo]:before
      +icon-vimeo
      +icon-medium
    &[href*=youtube]:before
      +icon-youtube

a.signed_in:first-of-type
  &[href*=users]:before
    +icon-user-2

abbr
  font-variant: small-caps
  text-transform: lowercase

article[dir=rtl]
  text-align: right
  float: right

cite + a[href*=annotation]
  margin-left: 3px

del
  text-decoration: strike-through

form
  fieldset
    border: none
    padding: 0
  label
    display: block
    height: $line-height
  select, input:not([type=button]):not([type=submit])
    border: 
      width: 1px
      style: solid
    height: 24px
    margin: 2px 0
    padding: 0 !important
    &.important:not([value])
      border-color: $error-background-color
  input
    &[type=button],
    &[type=submit]
      border:
        width: 1px
        style: solid
      font-variant: small-caps
      font-weight: bold
      height: $line-height
      margin-top: $line-height
      padding: 0 ($text-indent / 2)
      text-transform: lowercase

figure.image
  .wrapper
    +box-sizing(border-box)
    background-size: 0 0
    height: 100%

.gallery
  overflow: visible
  position: relative
  ul
    overflow: visible
  figure.image
    .wrapper
      margin: 0
  .flex-direction-nav
    display: none
  .flex-control-nav
    display: none
    position: absolute
  .flex-control-paging
    display: none
    top: 0
    left: 0

h1
  margin: $line-height 0

iframe
  border: 0

img, iframe
  display: block
  width: 100%
  max-width: 100%

ins
  text-decoration: none

ol, ul
  +no-bullets
  padding: 0

table
  width: 100%
  td
    margin-left: $gutter-width
    vertical-align: top
    &:first-child
      margin-left: 0

cite, em
  &:after
    content: ' '

.caption
  .figcaption
    cite:after
      content: ''

.url
  &:link
    &:after
      content: ''
  &:hover
    &:after
      padding-left: 5px
      +icon-link-ext
      +icon-medium

// REVIEW: icon CSS above is too specific
ul li.deep-link
  a[href$='#disqus_thread']:before,
  a:first-of-type[href$='#comments']:before
    +icon-comment

.instruction
  font-style: italic

footer
  nav
    ul
      margin-bottom: 0

///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
// Document
//
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

#main
  box-sizing: padding-box
  padding: 0
  margin: 0 5%
  width: 90%

  // #main > section, #main > article, .hello-world p, footer:not(.channel)
  // +clearfix

ol, ul, .statistics, iframe, table, form, fieldset
  margin-bottom: $line-height
  overflow: hidden

.breadcrumb
  +arrow-links
  +horizontal-list
  text-transform: lowercase
  li
    .current
      font-weight: normal
    cite
      font-style: normal

header
  position: relative
  aside
    p
      display: inline
      margin: 0

.alert,
.error
  background-color: $error-background-color
  &:before
    +icon-attention
.notice,
.success
  background-color: $success-background-color
  &:before
    +icon-ok

footer
  ul
    &.promotions, &.sections
      +arrow-links
    &.sections, &.web-channels
      text-transform: lowercase
    li
      a
        &[href*=http]:after
          display: none
        &[href*=vimeo]:before
          +icon-medium
  small:before
    //+icon-cc-by-nc-sa
    letter-spacing: 0.25em

///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
// Elements
//
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

figure
  +reset
  &.image
    img
      clear: both
    figcaption
      .credit
        &:before
          content: ' ('
        &:after
          content: ')'
  &.citation
    blockquote
      margin: 0 0 0 $text-indent
      text-align: left
      &:before
        +icon-quote-left
        display: inline-block
        margin-left: $line-height * -1
        padding: 0
        width: $text-indent
    figcaption
      margin-left: $text-indent
      padding: 0
      &:before
        content: '\2014'

iframe
  &[src*='vimeo'],
  &[src*='youtube']
    height: $line-height * 8
  &[src*='soundcloud.com']
    height: $line-height * 2
  &[src*='soundcloud.com%2Fplaylist'],
  &[src*='soundcloud.com'][src*='sets']
    height: $line-height * 8
  &[src*='spotify'],
    height: $line-height * 3

.annotations
  font:
    size: 0.8em
  line-height: $line-height * 2/3
  text-align: left !important
  text-indent: 0
  ol
    padding-left: $text-indent
  li
    margin-bottom: $line-height * 2/3
    position: relative
    text-indent: $text-indent * -1
    a
      display: inline
      text-indent: 0
      &[href*='#annotation-']
        display: inline-block
        width: $text-indent

//.citation
//   +body-font-citation

.map_container
  +reset
  #single_map, #persistent_map
    +reset
    img, object, embed
      max-width: none

#persistent_map
  .marker
    display: inline-block
    max-width: 200px
    overflow: display
    white-space: nowrap
    a
      font:
        weight: 600
        size: 14px
    &:before
      +icon
      +outline
      content: '\e810'
      font-size: 22px
      padding-right: 5px
      vertical-align: -4px
    a
      +outline

  #tags
    border-radius: 2px
    padding: 5px 2px 5px 5px
    bottom: 43px
    position: absolute
    right: 6px
    max-width: 81px
    width: 81px
    li
      label
        display: block
        font-size: 11px
        height: $line-height
        overflow: hidden
        text-overflow: ellipsis
        white-space: nowrap
        input
          margin-right: 5px

.notes li, .citations li, .map-infowindow
  +clearfix
  display: block
  margin-bottom: $line-height
  &:last-child
    margin-bottom: 0

.references
  +arrow-links

.features-index, .features-show
  .notes li
    h2
      span
        display: none

.pagination
  +pagination-nav

article
  .tags
    ul
      +horizontal-list
      margin-bottom: $line-height // REVIEW: Genericise this
      &:before
        +icon-tags
        display: inline
        float: left
      li
        a:after
          content: ', '
        &:last-child
          a:after
            content: ''

ul li a
  &.back
    text-transform: lowercase
    &:before
      +icon-left
      +icon-small
    &:after
      content: ''
  &[data-method=delete]:before
    +icon-delete
    +icon-regular
  &[href^='/users/auth/']:before
    +icon-only
    +icon-large
  &[href$='sign_out']:before
    +icon-x
    +icon-large

blockquote
  footer
    +pre-with-emdash
    margin: 0

footer
  nav
    ul
      &.promotions
        +span-columns(12)
      &.sections
        +columns(2)
        +span-columns(12)
      &.web-channels
        +columns(2)
        +span-columns(12)
  small
    +span-columns(12)
    margin-bottom: $line-height

///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
// Pages
//
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

#introduction
  +hyphens(none)
  text-align: left
  font-size: 1.2em

#text
  .body, .annotations
    p
      margin: 0 0 ($line-height * 2/3) 0
    a
      &[href*=http]:after
        display: none
      &[id*=annotation-mark]
        font-size: 0.6em
        line-height: 0
        vertical-align: super
  .body
    blockquote
      margin: ($line-height * 2/3) $text-indent
    table
      td
        font:
          size: 0.8em
        line-height: $line-height * 2/3
        padding: ($line-height * 1/3) ($line-height * 2/3) ($line-height * 1/3) 0
      tr
        &:first-of-type
          font-weight: 600
          td
            padding-bottom: ($line-height * 1/3) - 1px
        &:last-of-type
          td
            padding-bottom: 0
    &> ol
      counter-reset: items
      &> li
        counter-increment: items 1
        padding-left: $text-indent
        &:before
          content: counter(items)
          margin-left: $text-indent * -1
          position: absolute
          width: $text-indent
        ol
          counter-reset: subitems
          li
            counter-increment: subitems
            padding-left: $text-indent
            &:before
              content: counter(items) "." counter(subitems)
              margin-left: $text-indent * -1
              position: absolute
              width: $text-indent
    ul
      li
        padding-left: $text-indent
        &:before
          +icon-circle
          +icon-small
          font-size: 7px
          left: 0
          position: absolute
          width: $text-indent
    li
      margin-bottom: $line-height * 1/3
      &:last-of-type
        margin-bottom: 0

    section
      margin-bottom: $line-height
      h2
        display: block
        margin: 0
        font:
          size: 1.2em
      &:last-of-type
        margin-bottom: 0
      p:first-of-type
        text-indent: 0
  &.parallel
    &.collate
      line-height: $line-height * 2
      .target
        padding-top: $line-height
    div
      overflow: show
      position: relative
      .source
        &:before
          top: $line-height * 2/3
      .target
        position: absolute
        top: 0
      &:first-of-type
        p
          text-indent: 0

#disqus_thread,
#comments
  +span-columns(12)

.versions
  li
    &:first-child
      a:before
        +icon-angle-double-down
    &:nth-child(n+2)
      display: none

.books-admin, .links-admin
  section
    nav
      ul
        +horizontal-list
        li
          float: right
          text-transform: lowercase
          a:before
            +icon-right
            +icon-small
  a[href$=edit]
    +icon-only
    &:before,
      +icon-edit
      +icon-only

.books-show
  iframe[src*='books.google']
    height: $line-height * 24

.books-show, .links-show_channel
  figure.citation
    cite
      display: none

.links-show_channel .links
  & > ul
    margin-bottom: 0
    & > li
      margin-bottom: $line-height
      &:last
        margin-bottom: 0
      cite
        a
          display: inline
      p
        margin: 0
        .url
          margin: 0 0 $line-height 0
          padding: 0
      ul
        clear: both
        display: block

.notes-version, .features-version
  .versions
    li:nth-child(n+2)
      display: block

.notes-map, .tags-map, .features-map
  #single_map
    height: $line-height * 20
    margin-bottom: $line-height

.statistics
  clear: both
  font-style: italic

.tags-index
  .tags
    ul
      +columns(2)
      &.cloud
        +inline-block-list

.tags-show, .tags-map
  h1:before
    +icon-tag

.confirmations-edit, .confirmations-new, .registrations-new, .passwords-new, .sessions-new, .signed-out .sessions-event
  h1:before
    +icon-user-2-empty

.passwords-edit, .registrations-edit, .signed-in .sessions-event
  h1:before
    +icon-user-2

ul.admin
  bottom: $line-height * 2
  left: $text-indent / 2
  position: absolute !important
  width: auto !important

.oauth
  margin-top: $line-height
  ul
    +horizontal-list
    display: inline-block
    li
      overflow: hidden
      position: relative
      width: $text-indent * 2
      &.connected:before
        +icon-ok
        display: block
        height: $line-height
        left: 0
        position: absolute
        text-align: right
        width: $text-indent * 2
        z-index: 1
      span
        opacity: 0.5
      a:hover, a:hover:before
        background-color: $link-hover-color !important
      a:before, span:before
        +icon-large
        +icon-only($text-indent * 2)
        color: $background-color
        padding-left: $text-indent / 2
      // Hardcoded colors
      .evernote:before, a[href*=evernote]:before
        +icon-evernote
        background-color: $evernote-color
      .facebook:before, a[href*=facebook]:before
        +icon-facebook
        background-color: $facebook-color
      .github:before, a[href*=github]:before
        +icon-github-circled
        background-color: $github-color
      .gplus:before, a[href*=gplus]:before
        +icon-gplus
        background-color: $gplus-color
      .linkedin:before, a[href*=linkedin]:before
        +icon-linkedin
        background-color: $linkedin-color
      .twitter:before, a[href*=twitter]:before
        +icon-twitter
        background-color: $twitter-color

aside
  ul
    margin-bottom: $line-height

///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
// Media-queries
//
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

@media only print

  iframe, nav
    display: none

  a
    text-decoration: none

  #text
    +columns(2)

  img.qr_code
    +span-columns(2)
    height: $qr-code-image-size
    width: $qr-code-image-size

  small
    +span-columns(10)

// Screen /////////////////////////////////////////////////////////////////////////////////////////////////////////////

@media only screen

  h3
    display: none

  img.qr_code
    display: none

// Screen > 720px /////////////////////////////////////////////////////////////////////////////////////////////////////

@media only screen and (min-width: 720px)

  body
    padding-top: $line-height * 2/3

  #main
    padding: 0

  #main > section, #main > article, .hello-world p, footer:not(.channel), .hello-world
    margin: 0 auto $line-height auto

  form
    +span-columns(6)
    label
      input, select
        float: right
        width: space(6)

  header[data-title]
    // height: $line-height * 3
    margin-bottom: $line-height
    margin-top: $line-height
    padding-bottom: $line-height
    position: relative
    #notice
      position: absolute
      top: $line-height
    h1
      margin: 0
    h2
      margin-top: $line-height

  iframe
    clear: both
    &[src*='vimeo'],
    &[src*='youtube']
      height: $line-height * 16
    &[src*='soundcloud.com']
      height: $line-height * 6
    &[src*='soundcloud.com%2Fplaylist']
    &[src*='soundcloud.com'][src*='sets']
      height: $line-height * 15
    &[src*='spotify'],
      height: $line-height * 3

  .citations
    +span-columns(6)
    +suffix(6)
    a
      display: block

  ul.user
    clear: both
    a
      text-transform: lowercase
      &:before
        +icon-right
        +icon-small

  article
    figure
      &.image
        margin-bottom: $line-height
        figcaption
          padding-top: $line-height * 2/3
      .map_container
        #single_map
          height: $line-height * 6
          margin-bottom: $line-height * 2/3
    aside
      +span-columns(12)

    #text
      +span-columns(8)
      counter-reset: term
      overflow: visible
      position: relative
      p
        position: relative
      .body
        +span-columns(8, 8)
      .annotations
        li
          +hyphens
      .aside
        clear: both
    #single_map
      +span-columns(4)
      height: $line-height * 7
      margin-bottom: $line-height * 2/3
    &:hover
      #text
        a
          text-decoration: underline
          &[id^=annotation], &[href^='#annotation']
            text-decoration: none
    &[dir=rtl]
      header
        +span-columns(6)

  #disqus_thread, #comments
    +span-columns(9)

  .books-edit, .books-update, .links-edit, .links-update
    .tools
      +span-columns(6)
      ul
        margin: 0

  .books-show, .links-show_channel
    .details
      margin-bottom: $line-height
      p
        margin: 0
        &.main
          font-weight: bold

  .citations-show
    figure.citation
      +span-columns(6, 12)
      +suffix(3, 12)
      margin-bottom: $line-height
      blockquote
        margin-bottom: $line-height

  .links-index
    .links
      ul
        +columns(2)

  .notes
    +span-columns(9)
    // +suffix(3)

  .tags-index
    .tags
      ul
        +columns(4)

  footer
    nav
      ul
        &.promotions
          +span-columns(4)
        &.sections
          +columns(2)
          +span-columns(4)
        &.web-channels
          +columns(2)
          +span-columns(4 omega)
    small
      +span-columns(12)
