section#disqus_thread

- unless request.xhr?

  javascript:
    function disqus_config() {
        this.title = $('h1').text();
        this.language = $('html').attr('lang');
        this.callbacks.onNewComment = [function(comment) {
          ga('send', 'event', 'Comments', 'new', location.href);
        }];
    }
    var DISQUS_SHORT_NAME = "#{ Setting['advanced.disqus_shortname'] || Setting['channel.slug'].parameterize }";
    (function() {
      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
      dsq.src = '//' + DISQUS_SHORT_NAME + '.disqus.com/embed.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();

  noscript = t('noscript.disqus')
