section#disqus_thread

  javascript:
    function disqus_config() {
        this.callbacks.onNewComment = [function(comment) { 
          _gaq.push ['_trackEvent', 'Comments', 'new', location.href + '#comment-' + comment.id]
        }];
    }
    var DISQUS_SHORT_NAME = "#{ Setting['advanced.disqus_shortname'] || Setting['channel.slug'].parameterize }";
    (function() {
      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
      dsq.src = '//' + DISQUS_SHORT_NAME + '.disqus.com/embed.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();

  noscript = t('noscript.disqus')
