%head
  %meta{ charset: 'utf-8' }

  %meta{ 'http-equiv' => 'X-UA-Compatible', content: 'IE=edge,chrome=1' }

  %meta{ name: 'viewport', content: 'width=device-width' }
  %meta{ name: 'viewport', content: 'width=device-width', :'initial-scale' => '1.0', :'maximum-scale' => '1.0' }

  = display_meta_tags

  = csrf_meta_tag

  = render 'stylesheets'

  = javascript_include_tag 'polyfills'
