- images.each do |image|
  %figure
    = link_to image_tag(cut_image_path(image, :type => type), :alt => strip_tags(image.description)),
    cut_image_path(image, :width => Settings.styling.images.expanded.width)
    - if image.caption
      %figcaption
        = image.caption.html_safe
        - if image.credit
          %span.credit= image.credit.html_safe
