- if note.embeddable_source_url =~ /youtube|vimeo|soundcloud/
  %iframe{ :src => note.embeddable_source_url, :allowfullscreen => 'true', :webkitAllowFullScreen => 'true', :webkitAllowFullScreen => 'true' }
