- if note.embedded_source_url =~ /youtube|vimeo|soundcloud/
  %iframe{ :src => note.embedded_source_url, :allowfullscreen => 'true', :webkitAllowFullScreen => 'true', :webkitAllowFullScreen => 'true' }
