%ul.notes
  = list_of notes do |note|

    - blurb_length = blurb_length || Settings.notes.blurb_length
    - headline, blurb = blurb(note.headline, note.clean_body, blurb_length)
    - image = note.resources.attached_images.first

    %a{ href: note_path(note), lang: lang_attr(note.lang), dir: dir_attr(note.lang) }
      = image_tag(cut_image_binary_path(image, type: :thumbnail), alt: strip_tags(image.description)) unless image.nil?
      %h2= blurbify(headline, note.books, note.links) 
      ~ blurbify(blurb, note.books, note.links)
