%ul.notes
  = list_of notes do |note|

    - headline, blurb = blurb(note.headline, note.clean_body)

    = link_to (render 'blurb', headline: headline, blurb: blurb, image: note.resources.attached_images.first), note, 
        lang: lang_attr(note.lang),
        dir: dir_attr(note.lang)
