p = "Hi #{ @first_name }"
p = ""
p = "Since we have not received a subscription payment for your #{ @plan } plan, your websites on nembrot.com have been reverted to our Free features. If you have more than #{ @max_free_channels } websites, some of them will have been de-activated."
p = "If this is not what you intended, you can simply go to <a href=\"http://nembrot.com\">nembrot.com</a>, choose a Premium feature and then click on one of the upgrade options. You will then be able to enjoy #{ @plan } features like Premium themes, image effects, and advanced settings (<a href=\"http://nembrot.com/#{ @plan.downcase }\">Nembrot #{ @plan } Features</a>)."
p = "Otherwise, you can still continue to enjoy our many free features indefinitely."
p = "If we can help you in any way, please contact us at <a href=\"mailto:subscriptions@nembrot.com\">help@nembrot.com</a>."
p = ""
p = "joe"
p = ""
p = "<a href=\"http://nembrot.com\">nembrot.com</a>"
