p == "Hi #{ @first_name }"
br
p == "Just to let you know that we have not received a subscription payment for your #{ @plan } plan."
p == "If this is not what you expected, please check your details with Paypal so that you can continue to enjoy all our #{ @plan } features including Premium themes, image effects, and advanced settings (<a href=\"http://nembrot.com/#{ @plan.downcase }\">Nembrot #{ @plan } Features</a>)."
p == "Otherwise, all your websites on nembrot.com will revert to #{ @free_plan } features in about a week."
p == "If you have any other questions, please contact us at <a href=\"mailto:subscriptions@nembrot.com\">help@nembrot.com</a>."
br
p == "joe"
br
p == "<a href=\"http://nembrot.com\">nembrot.com</a>"
