p = "Hi #{ @first_name }"
p = "Thank you for upgrading to #{ @plan }!"
p = "You can now have as many websites as you like on nembrot.com. You can also use Evernote shared notebooks."
p = "To see what all the features that are now available to you - including Premium themes, image effects, advanced settings - go to <a href=\"http://nembrot.com/#{ @plan.downcase }\">Nembrot #{ @plan } Features</a>. Help with all features is available at <a href=\"http://nembrot.com/help\">Nembrot Help</a>."
p = "If you need any help, or you have any other questions, please contact us at <a href=\"mailto:help@nembrot.com\">help@nembrot.com</a>."
p = "joe"
p = "<a href=\"http://nembrot.com\">nembrot.com</a>"
