=logo
  +border-bottom-right-radius(7px)
  +border-top-right-radius(7px)
  +box-sizing(border-box)
  border:
    style: solid
    width: 4px 
  display: inline-block
  line-height: 14px
  padding-top: 1px
  &:before
    content: 'NB'
    font:
      family: Arial, sans-serif
      variant: small-caps
      weight: bold
    left: auto
    text-transform: lowercase

=magazine
  figure.image
    img
      height: auto
      left: 0
      position: fixed
      top: 0
      width: 100%
      z-index: -100
    figcaption
      bottom: 0
      position: absolute
      right: 0
