#dashboard
  +span-columns(3, 12)
  color: #fff
  background: rgba(64, 64, 64, .90)
  border: 5px solid yellow
  padding: 15px
  position: fixed
  right: 100px
  top: 100px
  .breadcrumb
    li:first-child
      display: none
