// Custom styles

+colors
+side-annotations
+tools-v2

input
  &[type=radio]
    float: right

a[href='#close']
  position: absolute
  top: 0
  right: 0
  +icon-only(20px)
  &:before
    +icon-signout
    +icon-large

a[href='/channels/new']:before
  +icon-plus
  +icon-large

.home-index
  .breadcrumb
    visibility: hidden
  section.notes
    margin-top: $line-height

.breadcrumb
  a[href='/']
    display: none

.field_with_errors
  display: inline

nav ul li a:first-of-type
  &[href^='/channels']:before
    +icon-settings

#tools
  +colors
  ul
    li
      position: relative
      a:after
        margin-left: 10px
        top: 35px
        display: block !important
        position: absolute
      &.home
        text-align: center
        width: $text-indent * 2
        a
          +logo
    .user
      display: none

#persistent_map_container
  display: none

// Prevent Typekit from causing FOUT
.wf-loading
  body
    opacity: 0

.wf-active
  body
    opacity: 1
    +transition(0.5s)

.statistics
  display: none

footer.channel
  display: none
  width: 100%
  ul
    li
      display: inline-block
      &:first-of-type
        a
          &:before
            display: none
            padding: 0
      a
        font:
          size: 18px
          variant: small-caps
          weight: bold
        text-transform: lowercase
        &:before
          content: '|'
          font-weight: normal
          padding: 0 10px

.home-index .notes, .notes-show .notes, .home-index .channels
  h3
    display: block
    margin-bottom: $line-height

// Screen > 720px /////////////////////////////////////////////////////////////////////////////////////////////////////

@media only screen and (min-width: 720px)

  section.notes
    +span-columns(8)

  section.channels
    +span-columns(6)

  footer:not(.channel)
    nav
      margin-bottom: 0
      ul
        &.sections
          +columns(1)
          +span-columns(4)
        &.web-channels
          +columns(3)
          +span-columns(8 omega)


// Screen > 1024px ////////////////////////////////////////////////////////////////////////////////////////////////////

@media only screen and (min-width: 1024px)

  section.channels
    +span-columns(9)

  footer:not(.channel)
    nav
      margin-bottom: 0
      ul
        &.sections
          +columns(2)
        &.web-channels
          +columns(4)
