#dashboard
  width: 300px
  background-color: rgba(0, 0, 0, 0.9)
  border: 5px solid yellow
  padding: 15px
  position: fixed
  top: 100px
  right: 100px
  height: 600px
  overflow-y: auto

  h1, h2
    display: none

  ol.breadcrumb
    li:first-of-type
      display: none

  li, a
    color: #fff

  header
    display: none

  nav
    margin-bottom: $line-height
