$dashboard-black-color: #171717
$dashboard-white-color: #f7f7f7
$dashboard-hover-color: #b70000
$dashboard-off-color: #666666
$success-color: $static-url-color
$secondary-color: #666666
$error-color: #cc0000

#dashboard:not(.ui-draggable-dragging):hover
  background-color: rgba($dashboard-white-color, 1)

#dashboard_wrapper
  height: 100%
  width: 100%
  position: absolute
  top: 0
  left: 0

#dashboard
  +box-sizing(border-box)
  +font-color
  background-color: rgba($dashboard-white-color, 1)
  border: 1px solid $dashboard-black-color
  font:
    family: 'proxima-nova'
  cursor: hand
  height: $line-height * 12
  left: 0
  margin: 0
  padding: 5px 0
  position: absolute
  right: 0
  top: 0
  z-index: 1000

  nav
    margin-bottom: 0

  header, h2
    margin: 0

  header
    height: $line-height * 2
    padding: 0 5px
    h1
      display: none
      padding-top: 20px
    h2
      font:
        size: 28px
        variant: small-caps
        weight: 600
      padding: 0 5px
      text-transform: lowercase
      &:before
        font-size: 0.8em

  .breadcrumb
    display: none

  legend
    position: relative
    &.completed, &.connected
      color: $dashboard-off-color
      &:after
        +icon-ok
        color: $dashboard-white-color
        position: absolute
        right: $text-indent

  ul
    height: $line-height * 9
    overflow-y: scroll
    padding: 0 ($text-indent / 2)
    li
      a
        display: inline-block
        &:first-of-type
          float: left
          overflow: hidden
          text-overflow: ellipsis
          white-space: nowrap
          width: 85%
          &:before
            +icon-settings
        &.show-channel
          float: right
          width: 15%
          &:before
            +icon-screen
            padding-left: $text-indent
            padding-right: $text-indent * 2/3

  a[href='/channels/new']
    bottom: 0
    color: $dashboard-hover-color
    display: block
    font-weight: 600
    position: absolute
    padding: ($text-indent / 2)
    width: 100%
    &:before
      color: $dashboard-hover-color
      vertical-align: -1px
    &:hover
      color: $link-hover-color
      &:before
        color: $link-hover-color


  #notice
    display: block
    width: 100%
    .notice
      padding: 0 5px
      width: 100%

  .connected p:before, .connect a:before
    +icon-evernote
    color: $evernote-color
    font-size: $line-height * 2
    left: $text-indent / -2
    position: absolute
    top: $line-height / 2

  .connected
    p
      margin: ($line-height * 2/3) $text-indent $line-height $text-indent
      padding-left: $text-indent * 2
      position: relative

  .connect
    a
      display: block
      margin: ($line-height * 2/3) $text-indent $line-height $text-indent
      padding-left: $text-indent * 2
      position: relative
      &:hover:before
        color: $link-hover-color

  .available
    font-size: 0.8em
    line-height: $line-height * 2/3

  .available-true
    color: $success-color
  .available-false
    color: $error-color

  form
    +clearfix
    counter-reset: new-channel-steps
    height: 100%
    width: 100%
    fieldset
      margin: 0
      legend
        background-color: $dashboard-black-color
        counter-increment: new-channel-steps
        color: #fff
        cursor: pointer
        display: block
        font-weight: 400
        width: 100%
        padding: 0 ($text-indent / 2)
        &:before
          content: counter(new-channel-steps) '.\0000a0'
      &.disabled
        legend
          color: $secondary-color
          cursor: default
        div
          display: none
      label
        padding: 0 ($text-indent / 2)
        span
          display: inline-block
          overflow: hidden
          text-overflow: ellipsis
          width: 250px // FIXME: This should be percentage
          white-space: nowrap
        &:hover
          background-color: $dashboard-hover-color
          color: #ffffff
      div
        height: $line-height * 4
        padding-top: $text-indent / 2
        overflow-y: scroll
      &.oauth div
        overflow: hidden
      &.notebooks div
        label:hover
          background-color: $evernote-color
          color: #ffffff
      &.name div
        overflow-y: hidden
        label:hover
          background-color: transparent
      input
        &[type=text]
          float: none
          width: 100%
        &[type=submit]
          display: block
          width: 100%
        &[type=radio]
          margin-top: 8px
          text-align: center
          width: $text-indent
      .name
        input
          border: 1px solid #666
          font-weight: 600
        &:hover
          background-color: none

    .actions
      display: block
      position: absolute
      bottom: 0
      left: 0
      padding: $line-height / 2
      width: 100%
      // REVIEW: Genericise as button in default
      input[type=submit]
        margin-top: 0
        width: 62%
        &:hover
          background-color: $link-hover-color
          color: $background-color
      a
        +icon-only
        width: $text-indent / 2
        margin-left: $text-indent
        &.delete:before
          +icon-delete
          vertical-align: -8px
        &.cancel:before
          +icon-list
          +icon-large
          vertical-align: -13px

  .channels-edit
    h2
      height: $line-height
      overflow: hidden
      width: 100%
      &:before
        +icon-settings
      a
        width: 80%
        &:hover:after
          padding-left: $text-indent / 2
          +icon-screen
          +icon-small

  //li, a
  //  color: #fff

// Screen > 720px /////////////////////////////////////////////////////////////////////////////////////////////////////

@media only screen and (min-width: 720px)

  #dashboard
    background-color: rgba($dashboard-white-color, 0.85)
    bottom: $line-height
    left: auto
    position: fixed
    right: $text-indent / 2
    top: auto
    width: 330px

    form
      height: 328px

// Screen > 1024px ////////////////////////////////////////////////////////////////////////////////////////////////////

@media only screen and (min-width: 1024px)

  #dashboard
    +font-color-hover
    top: $line-height * 6.75
    bottom: auto
    left: 50%
    margin-left: 298px
    right: auto
