#dashboard
  width: 90%
  margin: 0
  cursor: hand
  background-color: rgba(255, 255, 255, 0.85)
  border: 1px solid #000
  position: fixed
  top: 2.5%
  right: 2.5%
  height: 85%

  h1, h2
    display: none

  ol.breadcrumb
    li:first-of-type
      display: none

  form
    counter-reset: new-channel-steps
    height: 100%
    width: 100%
    fieldset
      margin: 0
      legend
        background-color: #000
        counter-increment: new-channel-steps
        color: #fff
        width: 100%
        display: block
        padding: 0 ($text-indent / 3)
        font-weight: bold
        cursor: pointer
        &:before
          content: counter(new-channel-steps) '.\0000a0'
      label
        padding: 0 ($text-indent / 3)
      div
        height: 120px
        // margin-top: $text-indent / 3
        overflow-y: auto
      input
        &[type=submit]
          display: block
          width: 100%

  //li, a
  //  color: #fff

  header
    display: none

  nav
    margin-bottom: $line-height

// Screen > 720px /////////////////////////////////////////////////////////////////////////////////////////////////////

@media only screen and (min-width: 720px)

// Screen > 1024px ////////////////////////////////////////////////////////////////////////////////////////////////////

@media only screen and (min-width: 1024px)

  #dashboard
    +span-columns(2, 12)
    top: 300px
    right: 300px
    height: 390px

    form
      height: 328px

// Screen > 1200px ////////////////////////////////////////////////////////////////////////////////////////////////////

@media only screen and (min-width: 1200px)


