#tools
  a[href*=channels]:before
    +icon-settings
  ul
    li
      &.channels ul
        li
          +icon-only
          a
            padding-top: $line-height

a[href='#close']
  position: absolute
  top: 0
  right: 0
  +icon-only(20px)
  &:before
    +icon-signout
    +icon-large

$background-color: #e8e8e8
$body-font-color: #080808
//$border-color: #080808
//$caption-color: purple
//$count-color: #0ff
// $delete-font-color
// $error-background-color
$font-color: #080808
//$headline-font-color: orange
//$link-hover-color: #0f0
//$row-hover-color: cyan
//$secondary-color: violet
// $selected-background-color
// $static-url-color
// $success-background-color


body.theme-default
  background-color: $background-color

.theme-default
  +override
