.theme-home

  $background-color: #070707
  $body-font-color: #e7e7e7
  $border-color: $body-font-color
  $caption-color: #666
  $count-color: #300
  $delete-font-color: #ccc 
  $error-background-color: #c00 
  // $evernote-color: 
  // $facebook-color:
  $font-color: $body-font-color
  $furniture-color: $body-font-color
  $headline-font-color: #b70000
  $insert-background-color: #ff0
  $invalid-background-color: #ccc
  $link-hover-color: #b70000
  $link-visited-color: #0c0
  $map-background-color: #ccc
  $map-font-color: $body-font-color
  $off-color: #ccc
  $row-hover-color: #ff0
  $secondary-color: #666
  $selected-background-color: #ff0
  $selected-font-color: $body-font-color
  $static-url-color: #0c0
  $success-background-color: #0c0

  @import '../application/1024.default'
  @import '../application/1200.default'
  @import '../application/1600.default'

  +colors
  +magazine-everywhere
  +simple-blurbs

  h1
    +text-shadow(rgba(black, 0.5) 1px 1px 0, rgba(black, 0.4) 2px 2px 0)
    font:
      weight: 700
      style: italic

  h3
    +text-shadow(rgba(black, 0.5) 1px 1px 0, rgba(black, 0.4) 2px 2px 0)

  #introduction
    +text-shadow(rgba(black, 0.5) 1px 1px 0, rgba(black, 0.4) 2px 2px 0)
    font:
      size: 36px
      style: normal
    line-height: $line-height * 1.5
    margin-bottom: $line-height / 2

  #text
    margin-bottom: $line-height * 16
    .body
      p
        +arrow-links-all
        text-transform: lowercase
        a
          margin-right: $text-indent / 2
          text-decoration: none

  &.home-index
    // article
    //   #text
    //     .side-annotations
    //       display: none
    .notes
      +span-columns(8)
      ul
        +columns(1)
        +column-gap(0)

    section.channels
      li
        +box-shadow(rgba(black, 0.5) 1px 1px 0, rgba(black, 0.4) 2px 2px 0)
        +transition
        border: 1px solid #000
        &:hover
          border-color: $link-hover-color
          +box-shadow(rgba($link-hover-color, 0.1) 1px 1px 0, rgba($link-hover-color, 0.05) 2px 2px 0, rgba($link-hover-color, 0.02) 2px 2px 0)
          +transition(0.5)
          h2
            background: rgba($link-hover-color, 1)
            +transition(0.5)
        h2
          display: block
          padding: 0 5px

  #tools
    background: none
    border: none
    bottom: $line-height / 2
    height: $line-height * 2
    display: none // TEMPORARILY HIDDEN
    position: absolute
    left: 5%
    top: auto
    width: 200px
    ul
      li
        a
          color: $count-color
          font-size: 12px
          +text-shadow(rgba(black, 0.5) 1px 1px 0)
          &:before
            +text-shadow(rgba(black, 0.5) 1px 1px 0, rgba(black, 0.4) 2px 2px 0, rgba(black, 0.3) 3px 3px 0)
            font-size: 30px
    .menu, .home, .user, .channels, .page
      display: none

  footer
    display: none

  // Note under #main //////////////////////////////////////////

  #dashboard
    a[href*=close]
      display: none

  // Screen > 720px /////////////////////////////////////////////////////////////////////////////////////////////////////

  @media only screen and (min-width: 720px)

    h1
      font:
        size: 72px

    #text
      margin-bottom: $line-height * 3

    #tools
      display: block
      top: $line-height * 14.5

  // Screen > 1024px ////////////////////////////////////////////////////////////////////////////////////////////////////

  @media only screen and (min-width: 1024px)

    #tools
      left: 50%
      top: $line-height * 13
      margin-left: -530px

    h1
      padding-top: $line-height
