// Modules:
// magazine-everywhere-module
// simple-blurbs-module
// standard-widths-module

.theme-home

  $background-color: #f7f7f7
  $body-font-color: #070707
  $border-color: $body-font-color
  $caption-color: #999
  $count-color: #c00
  $delete-font-color: #ccc
  $error-background-color: #c00
  // $evernote-color:
  // $facebook-color:
  $font-color: $body-font-color
  $furniture-color: $body-font-color
  $headline-font-color: #b70000
  $insert-background-color: #ff0
  $invalid-background-color: #ccc
  $link-hover-color: #00c
  $link-visited-color: #0c0
  $map-background-color: #ccc
  $map-font-color: $body-font-color
  $off-color: #ccc
  $row-hover-color: #ff0
  $secondary-color: #666
  $selected-background-color: #ff0
  $selected-font-color: $body-font-color
  $static-url-color: #0c0
  $success-background-color: #0c0

  $theme-home-logo-color: #e7e7e7
  $curtain-padding-lines: 7

  +colors
  +curtain($curtain-padding-lines * $line-height)
  +image-gradient
  +typekit-home

  body
    width: 100%
    padding-top: 0 !important

  #dashboard
    bottom: $line-height
    background-color: rgba(#ffffff, 1)
    position: absolute
    a[href='#close']
      display: none

  #tools
    display: none

  #main
    nav
      display: none
    header
      height: 0
      h1
        +brand($theme-home-logo-color)
        bottom: $line-height * 1.666
        color: $theme-home-logo-color !important
        font-size: 3em
        position: absolute
        z-index: 2
        &:before
          margin-right: 0

    #introduction
      color: #171717
      font:
        size: 28px
        style: normal
      line-height: $line-height

    #text
      clear: both
      display: inline
      width: auto !important
      ul
        +horizontal-list
        +arrow-links-all
        text-transform: lowercase
        li:before
          display: none
        a
          margin-right: $text-indent / 2
          text-decoration: none

    aside
      display: inline
      width: auto
      .shares
        display: none

    .channels
      margin-top: $line-height * 15
      ul
        margin-bottom: 0
        li
          +simple-blurb

  // Screen > 720px ////////////////////////////////////////////////////////////////////////////////////////////////////

  @media only screen and (min-width: 720px)

    #dashboard
      bottom: ($line-height * $curtain-padding-lines) - ($line-height * 6)
      top: auto

    #main
      header
        h1
          font:
            size: 5em

      #content
        +span-columns(8)

      #introduction
        color: #171717
        font:
          size: 48px
          style: normal
        line-height: $line-height * 2

      aside
        .shares
          display: block
          a:before
            font-size: 1.2em

      .channels
        +span-columns(12)
        margin-top: $line-height

  // Screen > 1024px ////////////////////////////////////////////////////////////////////////////////////////////////////

  @media only screen and (min-width: 1024px)

    #main
      h1
        margin-left: -1.45em

      #content
        +span-columns(12)

      .channels
        +span-columns(9)
