.theme-inverse

  $background-color: #000
  $body-font-color: #dfd
  // $border-color:
  // $caption-color:
  // $count-color:
  // $delete-font-color: 
  // $error-background-color: 
  // $evernote-color: 
  // $facebook-color:
  $font-color: #fff
  // $furniture-color:
  // $headline-font-color:
  // $insert-background-color:
  // $invalid-background-color:
  // $link-hover-color:
  // $link-visited-color:
  // $map-background-color:
  // $map-font-color:
  // $off-color:
  // $row-hover-color:
  // $secondary-color:
  // $selected-background-color:
  // $selected-font-color:
  // $static-url-color:
  // $success-background-color:

  +colors

  @import application/simple-blurbs

