.theme-magazine

  $background-color: #070707
  $body-font-color: #f7f7f7
  $border-color: $body-font-color
  $caption-color: #ccc
  $count-color: #0c0
  $delete-font-color: #ccc 
  $error-background-color: #c00 
  // $evernote-color: 
  // $facebook-color:
  $font-color: $body-font-color
  $furniture-color: $body-font-color
  $headline-font-color: #e7e700
  $insert-background-color: #ff0
  $invalid-background-color: #ccc
  $link-hover-color: #0c0
  $link-visited-color: #0c0
  $map-background-color: #ccc
  $map-font-color: $body-font-color
  $off-color: #ccc
  $row-hover-color: #ff0
  $secondary-color: #666
  $selected-background-color: #ff0
  $selected-font-color: $body-font-color
  $static-url-color: #0c0
  $success-background-color: #0c0

  +colors
  +magazine-everywhere
  +panel-blurbs

  h1, h3
    +text-shadow(rgba(black, 0.5) 1px 1px 0, rgba(black, 0.4) 2px 2px 0)

  #content
    background: none
    #introduction
      p
        +text-shadow(rgba(#000, 0.5) 1px 1px 0)
        color: $font-color
    #text
      background: rgba(0, 0, 0, .75)
      padding:
        left: $text-indent / 2
        right: $text-indent / 2

  &.home-index, &.notes-index, &.notes-show, &.tags-show
    .notes
      +span-columns(12)
      margin-bottom: $line-height
      ul
        +columns(1)
        li
          border: 1px solid $background-color
          height: $line-height * 7
          h2
            padding: 0 5px

  .breadcrumb li, footer, #tools, #comments, #disqus_thread
    background: rgba(0, 0, 0, .75) !important
    padding:
      left: $text-indent / 2
      right: $text-indent / 2

  #comments
    margin: $line-height 0

  #disqus_thread
    padding-top: $line-height / 2
    margin-bottom: $line-height

  .annotations
    li
      background: rgba(0, 0, 0, .75)
      a:first-of-type
        color: $background-color !important

  // Screen > 720px /////////////////////////////////////////////////////////////////////////////////////////////////////

  @media only screen and (min-width: 720px)

    &.home-index, &.notes-index, &.notes-show, &.tags-show
      .notes
        +span-columns(12)
        ul
          +columns(2)
          li
            height: $line-height * 8

  // Screen > 1024px ////////////////////////////////////////////////////////////////////////////////////////////////////

  @media only screen and (min-width: 1024px)

    &.home-index, &.notes-index, &.notes-show, &.tags-show
      .notes
        +span-columns(12)
        ul
          +columns(3)
          li
            height: $line-height * 7

