.theme-magazine

  $background-color: #070707
  $body-font-color: #f7f7f7
  $border-color: $body-font-color
  $caption-color: #ccc
  $count-color: #c00
  $delete-font-color: #ccc 
  $error-background-color: #c00 
  // $evernote-color: 
  // $facebook-color:
  $font-color: $body-font-color
  $furniture-color: $body-font-color
  $headline-font-color: #b70000
  $insert-background-color: #ff0
  $invalid-background-color: #ccc
  $link-hover-color: #0c0
  $link-visited-color: #0c0
  $map-background-color: #ccc
  $map-font-color: $body-font-color
  $off-color: #ccc
  $row-hover-color: #ff0
  $secondary-color: #666
  $selected-background-color: #ff0
  $selected-font-color: $body-font-color
  $static-url-color: #0c0
  $success-background-color: #0c0

  +colors
  +magazine-everywhere
  +panel-blurbs

  #content
    background: none
  #text
    background: rgba(0, 0, 0, .75)
    #introduction
      p
        +text-shadow(rgba(#000, 0.5) 1px 1px 0)
        color: red

  .home-index, .notes-index, .tags-show
    .notes
      +span-columns(12)
      ul
        +columns(3)
