// Modules:
// standard-widths
// simple-blurbs-module
// persistent-map-on-homepage-only

.theme-manila

  $background-color: #f7f7f7
  $body-font-color: #240f17
  $border-color: $body-font-color
  $caption-color: #757575
  $caption-outline-color: rgba(#d5d5d5, 0.9)
  $count-color: #ff007f
  $delete-font-color: #999
  $error-background-color: #c00
  // $evernote-color:
  // $facebook-color:
  $font-color: $body-font-color
  $furniture-color: $body-font-color
  $headline-font-color: #ff007f
  $insert-background-color: #ff0
  $invalid-background-color: #ccc
  $link-hover-color: $headline-font-color
  $link-visited-color: #0c0
  $map-background-color: #ccc
  $map-font-color: $body-font-color
  $off-color: #561933
  $row-hover-color: #d71639
  $secondary-color: #441328
  $selected-background-color: #ff0
  $selected-font-color: $body-font-color
  $static-url-color: #0c0
  $success-background-color: #0c0

  $map-marker-outline-color: #fff
  $map-marker-color: $headline-font-color

  +colors
  +typekit-manila
  +curtain(50%)
  +hanging-caption
  +home-one-column-list

  #persistent_map
    display: none
    .marker
      a
        font:
          family: 'abril-fatface'
          size: 16px
      &:before
        color: $headline-font-color

  &[data-controller=home]
    #persistent_map_container
      display: block !important

  #main

    [data-controller=home]
      footer.channel
        display: none

    article, section
      &> nav
        margin-bottom: $line-height

    #text .target .body p
      color: $headline-font-color

  // Screen > 1024px ////////////////////////////////////////////////////////////////////////////////////////////////////

  @media only screen and (min-width: 1024px)

    #main
      #text .target .body p
        color: $font-color
