// Modules:
// standard-widths
// simple-blurbs-module

.theme-manila

  $background-color: #f7f7f7
  $body-font-color: #240f17
  $border-color: $body-font-color
  $caption-color: #999
  $count-color: #c00
  $delete-font-color: #999
  $error-background-color: #c00
  // $evernote-color: 
  // $facebook-color:
  $font-color: $body-font-color
  $furniture-color: $body-font-color
  $headline-font-color: #ff007f
  $insert-background-color: #ff0
  $invalid-background-color: #ccc
  $link-hover-color: #00c
  $link-visited-color: #0c0
  $map-background-color: #ccc
  $map-font-color: $body-font-color
  $off-color: #561933
  $row-hover-color: #d71639
  $secondary-color: #441328
  $selected-background-color: #ff0
  $selected-font-color: $body-font-color
  $static-url-color: #0c0
  $success-background-color: #0c0

  +colors
  +typekit-manila
  +curtain(50%)
  +home-one-column-list

  #main

    article, section
      &> nav
        margin-bottom: $line-height

    #single_map
      display: none !important

    [data-controller=home]
      #single_map
        display: block !important
        height: $line-height * 12 !important
        margin-bottom: $line-height

    figure.image
      figcaption
        background-image: none !important
        z-index: 1
        p
          bottom: $line-height / 2
          font-size: 0.7em
          left: $text-indent / 2
          width: 25%

    #text .target .body p
      color: $headline-font-color

    .channel
      margin-bottom: $line-height / 2

    // Screen > 1024px ////////////////////////////////////////////////////////////////////////////////////////////////////

    @media only screen and (min-width: 720px)

      [data-controller=home]
        #single_map
          +span-columns(8)
          +suffix(4)

    // Screen > 1024px ////////////////////////////////////////////////////////////////////////////////////////////////////

    @media only screen and (min-width: 1024px)

      #text .target .body p
        color: $font-color

      [data-controller=home]
        #single_map
          height: $line-height * 20 !important
          +span-columns(12)
          +suffix(0)
