// Modules:
// persistent-map-module
// panel-blurbs-module

.theme-maps-night-vision

  $background-color: #001504
  $body-font-color: #c0c0c0
  $border-color: $body-font-color
  $caption-color: #00ab28
  $count-color: #0c0
  $delete-font-color: #ccc
  $error-background-color: #c00 
  // $evernote-color: 
  // $facebook-color:
  $font-color: $body-font-color
  $furniture-color: $body-font-color
  $headline-font-color: #00bf2c
  $insert-background-color: #ff0
  $invalid-background-color: #ccc
  $link-hover-color: #0c0
  $link-visited-color: #0c0
  $map-background-color: $background-color
  $map-font-color: $body-font-color
  $off-color: #ccc
  $row-hover-color: #333
  $secondary-color: #666
  $selected-background-color: #ff0
  $selected-font-color: $body-font-color
  $static-url-color: #0c0
  $success-background-color: #0c0

  +colors
  +typekit-nembrot

  h1
    +outline(rgba($headline-font-color, 0.2), 1px, 0)
    color: $background-color !important
    font-size: $line-height * 1.5

  h1, h2
    font-variant: small-caps
    text-transform: lowercase

  #main
    #introduction
      font-style: normal


.persistent-map-module
  .map
    .marker
      &:before
        +outline(rgba(#007f1e, 0.8))
        color: #000
      a
        +outline(rgba(#007f1e, 0.8))
        color: #000
      &:hover
        a
          color: $link-hover-color
        &:before
          color: $link-hover-color
