=arrow-links
  a:first-of-type, .current
    text-transform: lowercase
    &:before
      +icon-right
      +icon-small
      display: inline-block
      width: 12px
  .current
    font-weight: bold

=blurb($lines: 3, $image-width: 0, $context: $total-columns)
  a
    display: block
    height: $line-height * $lines
    overflow: hidden
    padding-right: space($image-width, $context)
    &:after
      background-color: $background-color
      border-left: 1px solid inherit
      bottom: -3px
      content: ''
      font-family: fontello
      font-size: 14px
      margin-right: space($image-width, $context)
      padding-left: 5px
      position: absolute
      right: 0
      position: relative
    img, iframe
      height: auto
      margin: 0
      position: absolute
      right: 0
      width: columns($image-width, $context)

=debug-bg
  background: url('/resources/static/debug-bg.png') 0 0 repeat

=embed-font($font-name, $font-variant)
  @font-face
    font-family: $font-name
    src: font-url('#{$font-name}/#{$font-variant}.eot')
    src: font-url('#{$font-name}/#{$font-variant}.eot?#iefix') format('embedded-opentype'), font-url('#{$font-name}/#{$font-variant}.woff') format('woff'), font-url('#{$font-name}/#{$font-variant}.ttf') format('truetype')
    font-weight: normal
    font-style: normal

=fade($opacity: 0)
  opacity: $opacity
  +transition

=fixed-column-gap
  +column-gap($gutter-width)

=pass_media_query($media-query)
  body
    &:after
      content: $media-query
      line-height: 0
      visibility: hidden

=transition($duration: 1s)
  transition: all $duration ease-out
  -webkit-transition: all $duration ease-out
  -moz-transition: all $duration ease-out
  -o-transition: all $duration ease-out

///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
// Fonts
//
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

+embed-font($headline-font, $headline-font-variant)

=body-font
  +hyphens
  color: $body-font-color
  font:
    family: $body-font-family
    size: $body-font-size
  text-align: justify
  ms-text-justify: auto

=body-font-citation
  color: $body-font-citation-color
  font:
    family: $body-font-citation-family
    size: $body-font-citation-size
  text-align: justify

=dashboard-font
  color: $font-color
  font-family: $font-family
  font-size: $font-size

=pre-with-emdash
  &:before
    content: '\2014 '